<launch>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/baxter_organized_multi.launch">
    <arg name="rviz_config" value="$(find jsk_2015_05_baxter_apc)/config/baxter_oneclick_grasp_demo.rviz"/>
  </include>

  <!-- for interactive controller -->
  <node pkg="roseus" type="roseus" name="move_joint_interface_for_im" args="$(find jsk_interactive)/euslisp/move-joint-interface-robot.l">
    <param name="robot" value="BAXTER"/>
  </node>

  <node pkg="topic_tools" type="relay" name="topic_tools_relay" args="/handle_estimator/output_best /jsk_interactive_marker_manipulation/grasp_pose"/>
  
  <node pkg="roseus" type="roseus" name="ik_controller" args="$(find jsk_interactive_marker)/euslisp/ik-controller-main.l" output="screen">
    <param name="robot" value="BAXTER"/> 
    <param name="start_ik" value="false"/>
    <param name="use_ik_server" value="false"/>
    <param name="frame_id" value="base"/>
    <param name="one_click_grasp" value="true"/>
    <param name="one_click_grasp_arm" value="larm"/> 
  </node>
</launch>