<launch>

  <arg name="original_image" default="/kinect2_head/rgb/image"/>
  <arg name="input_point_indices" default="/organized_to_pi/output"/>
  <arg name="input_depth_camera_info" default="/kinect2_head/depth_highres/camera_info"/>
  <arg name="arm" default=""/>
  <arg name="manager" default="$(arg arm)_process_manager"/>
  <arg name="rect" default="false" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" />

  <node pkg="nodelet" type="nodelet" name="div_to_maskimage"
        args="load jsk_pcl/PointIndicesToMaskImage $(arg manager)">
    <remap from="~input" to="$(arg input_point_indices)" />
    <remap from="~input/image" to="$(arg original_image)" />
    <param name="approximate_sync" value="true" />
  </node>

  <!-- process mask image -->
  <node pkg="nodelet" type="nodelet" name="closing"
        args="load jsk_perception/Closing  $(arg manager)">
    <remap from="~input" to="div_to_maskimage/output" />
    <param name="approximate_sync" value="true" />
    <param name="size" type="int" value="8" />
    <param name="iterations" type="int" value="4" />
  </node>
  <group if="$(arg rect)">
    <node pkg="nodelet" type="nodelet" name="mask_image_to_roi"
          args="load jsk_perception/MaskImageToROI $(arg manager) ">
      <remap from="~input" to="opening/output" />
      <remap from="~input/camera_info" to="$(arg input_depth_camera_info)" />
      <param name="approximate_sync" value="true" />
    </node>
    <node pkg="nodelet" type="nodelet" name="roi_to_mask_image"
          args="load jsk_perception/ROIToMaskImage $(arg manager) ">
      <remap from="~input" to="mask_image_to_roi/output" />
      <param name="approximate_sync" value="true" />
    </node>
  </group>
  <node pkg="nodelet" type="nodelet" name="apply_mask"
        args="load jsk_perception/ApplyMaskImage $(arg manager)">
    <remap from="~input" to="$(arg original_image)" />
    <remap from="~input/mask" to="closing/output" unless="$(arg rect)" />
    <remap from="~input/mask" to="roi_to_mask_image/output" if="$(arg rect)" />
    <param name="approximate_sync" value="true" />
  </node>

</launch>
