<launch>

  <arg name="UPPER_SHELF" value="$(find jsk_apc2016_common)/config/bin_upper_shelf.yaml"/>
  <arg name="LOWER_SHELF" value="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml"/>

  <group ns="/left_hand_camera/depth_registered/hw_registered">
    <node name="colorize_float_image"
          pkg="jsk_perception" type="colorize_float_image">
      <remap from="~input" to="image_rect_raw" />
    </node>
  </group>
  <group ns="/right_hand_camera/depth_registered/hw_registered">
    <node name="colorize_float_image"
          pkg="jsk_perception" type="colorize_float_image">
      <remap from="~input" to="image_rect_raw" />
    </node>
  </group>

  <!-- data collection server -->
  <node name="data_collection_server_left"
        pkg="jsk_data" type="data_collection_server.py"
        clear_params="true" output="screen">
    <rosparam subst_value="true">
      save_dir: ~/.ros/jsk_arc2017_baxter/dataset_jsk_v1
      topics:
        - name: /left_hand_camera/rgb/camera_info
          msg_class: sensor_msgs/CameraInfo
          fname: camera_info.yaml
          savetype: YAML
        - name: /left_hand_camera/rgb/image_rect_color
          msg_class: sensor_msgs/Image
          fname: image.jpg
          savetype: ColorImage
        - name: /left_hand_camera/depth_registered/hw_registered/image_rect_raw
          msg_class: sensor_msgs/Image
          fname: depth.npz
          savetype: DepthImage
        - name: /left_hand_camera/depth_registered/hw_registered/colorize_float_image/output
          msg_class: sensor_msgs/Image
          fname: depth_viz.jpg
          savetype: ColorImage
        - name: /tf_to_transform_left_arm/output
          msg_class: geometry_msgs/TransformStamped
          fname: tf_camera_rgb_from_base.yaml
          savetype: YAML
      params:
        - key: /tf_bbox_to_mask_left_hand/target_bin_name
          fname: shelf_bin.txt
          savetype: Text
    </rosparam>
  </node>
  <node name="data_collection_server_right"
        pkg="jsk_data" type="data_collection_server.py"
        clear_params="true" output="screen">
    <rosparam subst_value="true">
      save_dir: ~/.ros/jsk_arc2017_baxter/dataset_jsk_v1
      topics:
        - name: /right_hand_camera/rgb/camera_info
          msg_class: sensor_msgs/CameraInfo
          fname: camera_info.yaml
          savetype: YAML
        - name: /right_hand_camera/rgb/image_rect_color
          msg_class: sensor_msgs/Image
          fname: image.jpg
          savetype: ColorImage
        - name: /right_hand_camera/depth_registered/hw_registered/image_rect_raw
          msg_class: sensor_msgs/Image
          fname: depth.npz
          savetype: DepthImage
        - name: /right_hand_camera/depth_registered/hw_registered/colorize_float_image/output
          msg_class: sensor_msgs/Image
          fname: depth_viz.jpg
          savetype: ColorImage
        - name: /tf_to_transform_right_arm/output
          msg_class: geometry_msgs/TransformStamped
          fname: tf_camera_rgb_from_base.yaml
          savetype: YAML
      params:
        - key: /tf_bbox_to_mask_right_hand/target_bin_name
          fname: shelf_bin.txt
          savetype: Text
    </rosparam>
  </node>

  <node name="tf_to_transform_left_arm"
        pkg="jsk_topic_tools" type="tf_to_transform.py">
    <rosparam>
      parent_frame_id: base
      child_frame_id: left_hand_camera_rgb_optical_frame
      duration: 1
      rate: 30
    </rosparam>
  </node>
  <node name="tf_to_transform_right_arm"
        pkg="jsk_topic_tools" type="tf_to_transform.py">
    <rosparam>
      parent_frame_id: base
      child_frame_id: right_hand_camera_rgb_optical_frame
      duration: 1
      rate: 30
    </rosparam>
  </node>

  <!-- main -->
  <node name="collect_data_in_bin_main"
        pkg="jsk_2016_01_baxter_apc" type="in-bin-data-collection-main.l"
        output="screen"
        required="true">
  </node>

  <!-- gui -->
  <node name="rqt_yn_btn"
        pkg="jsk_rqt_plugins" type="rqt_yn_btn">
  </node>
  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find jsk_arc2017_baxter)/rvizconfig/collect_data_in_bin.rviz">
  </node>

</launch>
