chainer==6.7.0
chainer-mask-rcnn>=0.5.13
chainercv>=0.9.0
# pycocotools is required both implicitly (via chainer-mask-rcnn) and explicitly, and
# Python2-compatible pycocotools (<=2.0.3) cannot be installed with Cython>=3.0.0.
# See https://github.com/cython/cython/issues/5539.
Cython<3.0.0
fcn>=6.1.8
filelock
gdown
imageio==2.6.1
imgaug>=0.2.7
labelme>=2.9,<5.0.0
matplotlib
numpy
opencv-python==4.2.0.32
pathlib2
Pillow
protobuf==3.18.3
pycocotools
PyYaml
scipy>=1.0.0
scikit-image
scikit-learn
six
