<launch>

  <arg name="camera" value="left_hand_camera" />
  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/baxter_openni_local.xml">
    <arg name="camera" value="$(arg camera)" />
  </include>

  <node name="transformable_interactive_server"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
    </rosparam>
  </node>
  <node name="transformable_markers_client"
        pkg="jsk_interactive_marker" type="transformable_markers_client.py"
        output="screen">
    <remap from="~server" to="transformable_interactive_server" />
    <rosparam subst_value="true">
      config_file: $(find jsk_arc2017_baxter)/config/kinfu_model_generation/transformable_markers_client.yaml
      config_auto_save: true  <!-- Use true to save config updated on rviz -->
    </rosparam>
  </node>
  <node name="bounding_box_array_to_bounding_box"
        pkg="jsk_pcl_ros_utils" type="bounding_box_array_to_bounding_box">
    <remap from="~input" to="transformable_markers_client/output/boxes" />
    <rosparam>
      index: 0
    </rosparam>
  </node>

  <!--
  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="/$(arg camera)_local/depth_registered/points" />
    <remap from="~input/box" to="bounding_box_array_to_bounding_box/output" />
  </node>
  <node name="extract_indices"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ExtractIndices">
    <remap from="~input" to="/$(arg camera)_local/depth_registered/points" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
  </node>
  <node name="depth_image_creator"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/DepthImageCreator">
    <remap from="~input" to="extract_indices/output" />
    <remap from="~info" to="/$(arg camera)/depth_registered/camera_info" />
  </node>
  <arg name="INPUT_DEPTH" default="depth_image_creator/output" />
  <arg name="INPUT_COLOR" default="depth_image_creator/output_image" />
  -->

  <!-- kinfu for model generation -->
  <arg name="INPUT_CAMERA_INFO" default="/$(arg camera)/depth_registered/camera_info" />
  <arg name="INPUT_DEPTH" default="/$(arg camera)_local/depth_registered/hw_registered/image_rect_raw" />
  <arg name="INPUT_COLOR" default="/$(arg camera)_local/rgb/image_rect_color" />
  <node name="kinfu"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/Kinfu"
        output="screen">
    <remap from="~input/camera_info" to="$(arg INPUT_CAMERA_INFO)" />
    <remap from="~input/depth" to="$(arg INPUT_DEPTH)" />
    <remap from="~input/color" to="$(arg INPUT_COLOR)" />
    <rosparam subst_value="true">
      auto_reset: false
      save_dir: $(optenv HOME)/.ros/jsk_arc2017_baxter/kinfu_model_generation
      integrate_color: true
      slam: false
      n_textures: 10
    </rosparam>
  </node>

  <node name="generate_object_model_main"
        pkg="jsk_arc2017_baxter" type="generate-object-model-main.l"
        args="&quot;(progn (setup) (main))&quot;"
        output="screen">
  </node>

  <node name="save_mesh_server"
        pkg="jsk_recognition_msgs" type="save_mesh_server.py">
    <remap from="~input/bbox" to="bounding_box_array_to_bounding_box/output" />
    <remap from="~save_mesh" to="kinfu/save_mesh_with_context" />
    <rosparam>
      ground_frame_id: base
    </rosparam>
  </node>

  <node name="rqt_yn_btn"
        pkg="jsk_rqt_plugins" type="rqt_yn_btn">
    <remap from="~" to="/rviz/yes_no_button" />
  </node>
  <node name="$(anon rviz)"
        pkg="rviz" type="rviz"
        args="-d $(find jsk_arc2017_baxter)/rvizconfig/kinfu_model_generateion.rviz">
  </node>

</launch>
