<library path="src">
  <class name="YesNoButton" type="rqt_yn_btn.yes_no_button.YesNoButton" base_class_type="rqt_gui_py::Plugin">
    <description>Simple yes or no button with service call.</description>
    <qtgui>
      <label>YesNo Button</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
