<launch>
  <arg name="INPUT_BBOXES" />
  <arg name="INPUT_CANDIDATES" />
  <arg name="INPUT_CLOUD" />
  <arg name="INPUT_INFO" />
  <arg name="INPUT_PROBA_IMAGE" />
  <arg name="NODELET_MANAGER" />

  <node name="bboxes_to_rects"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/BoundingBoxToRect $(arg NODELET_MANAGER)" >
    <remap from="~input" to="$(arg INPUT_BBOXES)" />
    <remap from="~input/info" to="$(arg INPUT_INFO)" />
    <rosparam>
      approximate_sync: true
      queue_size: 100
    </rosparam>
  </node>

  <node name="rects_to_polygons"
        pkg="jsk_recognition_utils" type="rect_array_to_polygon_array.py">
    <remap from="~input" to="bboxes_to_rects/output" />
  </node>

  <node name="polygons_to_polygon"
        pkg="jsk_recognition_utils" type="polygon_array_to_polygon.py">
    <remap from="~input" to="rects_to_polygons/output" />
    <rosparam>
      index: 0
    </rosparam>
  </node>

  <node name="polygon_to_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/RectToMaskImage $(arg NODELET_MANAGER)" >
    <remap from="~input" to="polygons_to_polygon/output" />
    <remap from="~input/camera_info" to="$(arg INPUT_INFO)" />
  </node>

  <node name="pointcloud_to_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/PointCloudToMaskImage $(arg NODELET_MANAGER)" >
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
  </node>

  <node name="multiply_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/MultiplyMaskImage $(arg NODELET_MANAGER)" >
    <remap from="~input/src1" to="polygon_to_mask_image/output" />
    <remap from="~input/src2" to="pointcloud_to_mask_image/output" />
    <rosparam>
      approximate_sync: true
      queue_size: 100
    </rosparam>
  </node>

  <node name="apply_mask_to_proba_image"
        pkg="jsk_arc2017_common" type="apply_mask_to_proba_image.py" >
    <remap from="~input_proba" to="$(arg INPUT_PROBA_IMAGE)" />
    <remap from="~input_mask" to="multiply_mask_image/output" />
    <rosparam>
      approximate_sync: true
      queue_size: 30
    </rosparam>
  </node>

  <node name="image_buffer"
        pkg="jsk_arc2017_common" type="image_buffer.py" >
    <rosparam>
      input_topics:
        - apply_mask_to_proba_image/output
        - left/rgb/image_rect_color
      approximate_sync: true
      queue_size: 500
      rate: 5
    </rosparam>
  </node>

  <node name="apply_context_to_label_proba_by_scale"
        pkg="jsk_perception" type="apply_context_to_label_probability" >
    <remap from="~input" to="image_buffer/output_0" />
    <remap from="~input/candidates" to="$(arg INPUT_CANDIDATES)" />
    <rosparam>
      use_topic: true
      candidates_fixed: [0, 41]
    </rosparam>
  </node>

  <node name="probability_image_classifier"
        pkg="jsk_perception" type="probability_image_classifier.py" >
    <remap from="~input" to="apply_context_to_label_proba_by_scale/output" />
    <remap from="~target_names" to="label_names" />
  </node>

  <!--
  <node name="label_image_classifier"
        pkg="jsk_perception" type="label_image_classifier.py" >
    <remap from="~input" to="apply_context_to_label_proba_by_scale/output/label" />
    <remap from="~target_names" to="label_names" />
  </node>
  -->

  <!-- Visualization -->
  <node name="label_image_decomposer_by_scale"
        pkg="jsk_perception" type="label_image_decomposer.py">
    <remap from="~input" to="image_buffer/output_1" />
    <remap from="~input/label" to="apply_context_to_label_proba_by_scale/output/label" />
    <remap from="~label_names" to="label_names" />
    <rosparam>
      approximate_sync: true
      queue_size: 30
    </rosparam>
  </node>

</launch>
