<launch>

  <!-- Arduino -->
  <node name="rosserial_node_0"
        pkg="rosserial_python" type="serial_node.py"
        respawn="true">
    <param name="port" type="string" value="/dev/arduino0" />
    <param name="baud" value="115200" />
  </node>

  <node name="rosserial_node_1"
        pkg="rosserial_python" type="serial_node.py"
        respawn="true">
    <param name="port" type="string" value="/dev/arduino1" />
    <param name="baud" value="115200" />
  </node>

  <node name="rosserial_node_2"
        pkg="rosserial_python" type="serial_node.py"
        respawn="true">
    <param name="port" type="string" value="/dev/arduino2" />
    <param name="baud" value="115200" />
  </node>

  <!-- Republish gripper sensor states -->
  <group ns="gripper_front/limb/right">
    <node name="gripper_sensors_republisher" pkg="jsk_arc2017_baxter" type="republish_gripper_sensor_states.py">
      <remap from="~input" to="/rgripper_sensors" />
    </node>
  </group>
  <group ns="gripper_front/limb/left">
    <node name="gripper_sensors_republisher" pkg="jsk_arc2017_baxter" type="republish_gripper_sensor_states.py">
      <remap from="~input" to="/lgripper_sensors" />
    </node>
  </group>

</launch>
