<launch>
  <node name="scale0" pkg="jsk_arc2017_common" type="ekew_i_driver.py" respawn="true"
        machine="c2">
    <rosparam>
      port: /dev/scale0
      timeout: 1
    </rosparam>
  </node>
  <node name="scale1" pkg="jsk_arc2017_common" type="ekew_i_driver.py" respawn="true"
        machine="c2">
    <rosparam>
      port: /dev/scale1
      timeout: 1
    </rosparam>
  </node>
  <node name="scale2" pkg="jsk_arc2017_common" type="ekew_i_driver.py" respawn="true"
        machine="c2">
    <rosparam>
      port: /dev/scale2
      timeout: 1
    </rosparam>
  </node>
  <node name="scale3" pkg="jsk_arc2017_common" type="ekew_i_driver.py" respawn="true"
        machine="c2">
    <rosparam>
      port: /dev/scale3
      timeout: 1
    </rosparam>
  </node>
</launch>
