<launch>

  <arg name="launch_left" default="true" />
  <arg name="launch_right" default="true" />
  <arg name="respawn_arduino" default="true" />

  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/baxter.machine" />

  <!-- adjust gravity compensation for gripper-v6 -->
  <node pkg="rostopic" type="rostopic" name="adjust_compensation_right"
        args="pub -1 /robot/end_effector/right_gripper/command baxter_core_msgs/EndEffectorCommand
              -f $(find jsk_arc2017_baxter)/robots/right_gripper_v6/gripper_mass.yaml"
        output="screen"/>
  <node pkg="rostopic" type="rostopic" name="adjust_compensation_left"
        args="pub -1 /robot/end_effector/left_gripper/command baxter_core_msgs/EndEffectorCommand
              -f $(find jsk_arc2017_baxter)/robots/left_gripper_v6/gripper_mass.yaml"
        output="screen"/>

  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/gripper_arduinos.launch">
    <arg name="launch_left" value="$(arg launch_left)" />
    <arg name="launch_right" value="$(arg launch_right)" />
    <arg name="respawn" value="$(arg respawn_arduino)" />
    <arg name="machine" value="c2" />
  </include>
  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/gripper_v6_dxl_controller.launch">
    <arg name="launch_left" value="$(arg launch_left)" />
    <arg name="launch_right" value="$(arg launch_right)" />
    <arg name="machine" value="c2" />
  </include>
  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/gripper_v6_ros_control.launch">
    <arg name="launch_left" value="$(arg launch_left)" />
    <arg name="launch_right" value="$(arg launch_right)" />
  </include>

  <node name="sanity_check_gripper_v6"
        pkg="jsk_arc2017_baxter" type="sanity-check-gripper-v6.l">
    <param name="left" value="$(arg launch_left)" />
    <param name="right" value="$(arg launch_right)" />
  </node>

</launch>
