<launch>

  <arg name="rviz" default="true" />
  <arg name="fuse" default="true" />
  <arg name="depth_registration" default="true" />
  <arg name="right_hand_left_camera_transform" default="-0.06 -0.10 0.01 1.63 -0.05 0.00" />

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/astra_hand.launch">
    <arg name="launch_left" value="false" />
    <arg name="launch_right" value="false" />
  </include>

  <arg name="NODELET_MANAGER" default="fuse_images_manager" />
  <node name="$(arg NODELET_MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- ASTRA MINI S 2017/04/11  7/10 : serial=16112210196 -->
  <!-- ASTRA MINI S 2017/04/11  8/10 : serial=16112210193 -->
  <!-- ASTRA MINI S 2017/04/11  9/10 : serial=16111911511 -->
  <!-- ASTRA MINI S 2017/04/11 10/10 : serial=16112210224 -->

  <arg name="serial_7"  value="16112210196" />
  <arg name="serial_8"  value="16112210193" />
  <arg name="serial_9"  value="16111911511" />
  <arg name="serial_10" value="16112210224" />

  <arg name="r_hand_l_camera_device_id" value="$(arg serial_10)" />
  <arg name="r_hand_r_camera_device_id" value="$(arg serial_8)" />
  <arg name="r_hand_stereo_devices" value="8_10" />

  <!-- ************************************************************************************* -->
  <!-- launch right hand left camera                                                         -->
  <!-- ************************************************************************************* -->

  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="respawn" value="true" />
    <arg name="camera" value="right_hand_left_camera" />
    <arg name="rgb_frame_id" value="right_hand_left_camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="right_hand_left_camera_depth_optical_frame" />
    <arg name="device_id" value="$(arg r_hand_l_camera_device_id)" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="rgb_camera_info_url" value="file://$(find jsk_arc2017_baxter)/data/camera_info/stereo_rgb_$(arg r_hand_stereo_devices)_left.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find jsk_arc2017_baxter)/data/camera_info/depth_$(arg r_hand_l_camera_device_id).yaml" />
  </include>
  <node name="right_hand_left_camera_rgb_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.025 0 0 0 0 0 right_hand_left_camera_depth_optical_frame right_hand_left_camera_rgb_optical_frame 20" />
  <node name="right_hand_left_camera_depth_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="$(arg right_hand_left_camera_transform) right_hand right_hand_left_camera_depth_optical_frame 20" />
  <group ns="/right_hand_left_camera/depth_registered">
    <node name="image_view"
          pkg="image_view" type="image_view">
      <remap from="image" to="hw_registered/image_rect_raw" />
      <rosparam>
        gui: false
        min_image_value: 0.5
        max_image_value: 1.0
        colormap: 2
      </rosparam>
    </node>
  </group>

  <!-- ************************************************************************************* -->
  <!-- launch right hand right camera                                                        -->
  <!-- ************************************************************************************* -->

  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="respawn" value="true" />
    <arg name="camera" value="right_hand_right_camera" />
    <arg name="rgb_frame_id" value="right_hand_right_camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="right_hand_right_camera_depth_optical_frame" />
    <arg name="device_id" value="$(arg r_hand_r_camera_device_id)" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="rgb_camera_info_url" value="file://$(find jsk_arc2017_baxter)/data/camera_info/stereo_rgb_$(arg r_hand_stereo_devices)_right.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find jsk_arc2017_baxter)/data/camera_info/depth_$(arg r_hand_r_camera_device_id).yaml" />
  </include>
  <node name="right_hand_right_camera_rgb_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.025 0 0 0 0 0 right_hand_right_camera_depth_optical_frame right_hand_right_camera_rgb_optical_frame 20" />
  <!-- 0.08486 = -1 * P[3] / P[0] -->
  <node name="right_hand_right_camera_depth_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.08486 0 0 0 0 0 right_hand_left_camera_depth_optical_frame right_hand_right_camera_depth_optical_frame 20" />

  <!-- ************************************************************************************* -->
  <!-- sensor fusion of left depth, right depth, stereo and laser                            -->
  <!-- ************************************************************************************* -->

  <node name="stereo_image_proc_right_hand"
        pkg="stereo_image_proc" type="stereo_image_proc" >
    <remap from="left/camera_info" to="right_hand_left_camera/rgb/camera_info" />
    <remap from="right/camera_info" to="right_hand_right_camera/rgb/camera_info" />
    <remap from="left/image_raw" to="right_hand_left_camera/rgb/image_raw" />
    <remap from="right/image_raw" to="right_hand_right_camera/rgb/image_raw" />
    <remap from="points2" to="right_hand_stereo/points" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <group ns="/right_hand_right_camera">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator /$(arg NODELET_MANAGER)"
          output="screen" >
      <remap from="~input" to="depth_registered/points" />
      <remap from="~info" to="/right_hand_left_camera/rgb/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 10
      </rosparam>
    </node>
    <group ns="depth_image_creator">
      <node name="output_view"
            pkg="image_view" type="image_view">
        <remap from="image" to="output" />
        <rosparam>
          gui: false
          min_image_value: 0.5
          max_image_value: 1.0
          colormap: 2
        </rosparam>
      </node>
    </group>
  </group>

  <group ns="/right_hand_stereo">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator /$(arg NODELET_MANAGER)"
          output="screen" >
      <remap from="~input" to="points" />
      <remap from="~info" to="/right_hand_left_camera/rgb/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 10
      </rosparam>
    </node>
    <group ns="depth_image_creator">
      <node name="output_view"
            pkg="image_view" type="image_view">
        <remap from="image" to="output" />
        <rosparam>
          gui: false
          min_image_value: 0.5
          max_image_value: 1.0
          colormap: 2
        </rosparam>
      </node>
    </group>
  </group>

  <group if="$(arg fuse)">
    <node name="fuse_rgb_images"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/FuseRGBImages $(arg NODELET_MANAGER)"
          output="screen" >
      <rosparam>
        approximate_sync: true
        averaging: false
        queue_size: 50
        input_topics:
          - /right_hand_right_camera/depth_image_creator/output_image
          - /right_hand_left_camera/rgb/image_rect_color
      </rosparam>
    </node>

    <node name="fuse_depth_images"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/FuseDepthImages $(arg NODELET_MANAGER)"
          output="screen" >
      <rosparam>
        approximate_sync: true
        averaging: true
        queue_size: 50
        input_topics:
          - /right_hand_right_camera/depth_image_creator/output
          - /right_hand_stereo/depth_image_creator/output
          - /right_hand_left_camera/depth_registered/hw_registered/image_rect_raw
      </rosparam>
    </node>
    <group ns="fuse_depth_images">
      <node name="output_view"
            pkg="image_view" type="image_view">
        <remap from="image" to="output" />
        <rosparam>
          gui: false
          min_image_value: 0.5
          max_image_value: 1.0
          colormap: 2
        </rosparam>
      </node>
    </group>

    <group ns="/right_hand_left_camera">
      <node name="point_cloud_xyzrgb"
            pkg="nodelet" type="nodelet"
            args="load depth_image_proc/point_cloud_xyzrgb /$(arg NODELET_MANAGER)"
            output="screen" >
        <remap from="rgb/camera_info" to="rgb/camera_info" />
        <remap from="rgb/image_rect_color" to="/fuse_rgb_images/output" />
        <remap from="depth_registered/image_rect" to="/fuse_depth_images/output" />
        <remap from="depth_registered/points" to="depth_registered/points_fused" />
        <rosparam>
          queue_size: 50
          approximate_sync: true
        </rosparam>
      </node>
    </group>
  </group>

  <!-- ************************************************************************************* -->
  <!-- visualization                                                                         -->
  <!-- ************************************************************************************* -->

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz"
          type="rviz"
          args="-d $(find jsk_arc2017_baxter)/rvizconfig/stereo_astra_and_tilt_laser.rviz" />
  </group>

  <!-- ************************************************************************************* -->
  <!-- benchmark                                                                             -->
  <!-- ************************************************************************************* -->

  <!--
  <node name="concatenate_pointcloud_right_hand"
        pkg="nodelet" type="nodelet"
        args="load pcl/PointCloudConcatenateDataSynchronizer $(arg NODELET_MANAGER)"
        output="screen" respawn="true" >
    <rosparam>
      input_topics:
        - /right_hand_left_camera/depth_registered/points
        - /right_hand_right_camera/depth_registered/points
        - /right_hand_stereo/points
      output_frame: /right_hand_left_camera_rgb_optical_frame
      approximate_sync: true
      queue_size: 20
    </rosparam>
  </node>
  -->

</launch>
