<launch>

  <node name="nodelet_manager"
        pkg="nodelet" type="nodelet" args="manager" />

  <include file="$(find jsk_2015_apc_common)/launch/kiva_pod_filter.launch">
    <arg name="INPUT_CLOUD" value="/kinect2/hd/points" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_atof.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="INPUT_CLOUD" value="/kiva_pod_filter/output" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="a" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_a/point_indices" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="b" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_b/point_indices" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="c" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_c/point_indices" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="d" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_d/point_indices" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="e" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_e/point_indices" />
  </include>

  <include file="$(find jsk_2015_apc_common)/launch/in_bin_each_object.launch">
    <arg name="MANAGER" value="nodelet_manager" />
    <arg name="BIN_NAME" value="f" />
    <arg name="INPUT_CLOUD" value="/cloud_from_kiva_pod_base/output" />
    <arg name="INPUT_INDICES" value="/in_bin_atof/bin_clipper/bin_f/point_indices" />
  </include>

</launch>
