<launch>
  <group ns="/kinect_head_remote">
    <node name="head_nodelet_manager" pkg="nodelet" type="nodelet" args="manager" />

    <!-- rgb -->
    <node name="rgb_camera_info_relay" pkg="topic_tools" type="relay"
          args="/kinect_head/rgb/camera_info /kinect_head_remote/rgb/camera_info" />
    <node name="rgb_republish" pkg="image_transport" type="republish"
          args="compressed raw" output="screen" respawn="true">
      <remap from="in" to="/kinect_head/rgb/image_rect_color" />
      <remap from="out" to="/kinect_head_remote/rgb/image_rect_color" />
    </node>
    <!-- depth -->
    <node name="depth_registered_camera_info_relay" pkg="topic_tools" type="relay"
          args="/kinect_head/depth_registered/camera_info
                /kinect_head_remote/depth_registered/camera_info" 
          output="screen" respawn="true" />
    <node name="depth_republish" pkg="image_transport" type="republish"
          args="compressedDepth raw" output="screen" respawn="true" >
      <remap from="in" to="/kinect_head/depth_registered/hw_registered/image_rect_raw" />
      <remap from="out" to="/kinect_head_remote/depth_registered/hw_registered/image_rect_raw" />
    </node>
    <node name="depth_image_proc_remote" pkg="nodelet" type="nodelet"
          args="load depth_image_proc/point_cloud_xyzrgb /kinect_head_remote/head_nodelet_manager"
          output="screen" respawn="true">
      <remap from="rgb/image_rect_color" to="/kinect_head_remote/rgb/image_rect_color" />
      <remap from="rgb/camera_info" to="/kinect_head_remote/rgb/camera_info" />
      <remap from="depth_registered/image_rect"
             to="/kinect_head_remote/depth_registered/hw_registered/image_rect_raw" />
      <remap from="depth_registered/points" to="/kinect_head_remote/depth_registered/points" />
    </node>
  </group>

</launch>
