<launch>
  <arg name="input_cloud" default="/kinect2_doura/depth_lowres/points"/>
  <arg name="input_image" default="/kinect2_doura/rgb/image"/>

  <arg name="manager" default="extract_manager"/>
  <arg name="use_decomposer" default="false"/>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" />

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="use_machine" value="true"/>
    <arg name="base_name" value="kinect2_doura"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="doura_static_tf_publisher" args="0.15 0.08 0.48 -0.08 -1.55 3.14 base kinect2_doura_rgb_optical_frame 100"/>
  <group ns="doura">
    <node pkg="nodelet" type="nodelet" name="passthrough_z_for_extract"
          args="load pcl/PassThrough /$(arg manager)" respawn="true">
      <remap from="~input" to="$(arg input_cloud)" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.7
        filter_limit_max: 2
        keep_organized: true
      </rosparam>
    </node>

    <!-- <node pkg="jsk_pcl_ros" type="tf_transform_cloud" name="cloud_from_base"> -->
    <!--   <remap from="~input" to="passthrough_z_for_extract/output" /> -->
    <!--   <rosparam> -->
    <!--     target_frame_id: /base -->
    <!--   </rosparam> -->
    <!-- </node> --> 
    <node pkg="nodelet" type="nodelet" name="cloud_from_base" args="load jsk_pcl/TfTransformCloud /$(arg manager)">
      <remap from="~input" to="passthrough_z_for_extract/output" />
      <rosparam>
        target_frame_id: /base
      </rosparam>
    </node>


    <node pkg="nodelet" type="nodelet" name="bin_extracter"
          args="load jsk_pcl/AttentionClipper /$(arg manager)" respawn="true">
      <remap from="~input/points" to="cloud_from_base/output" />
      <rosparam>
        use_multiple_attention: true
        initial_pos_list: [[1.08,0.31,0.22], [1.08,0,0.22], [1.08,-0.31,0.22],[1.12,0.31,-0.07], [1.12,0,-0.07], [1.12,-0.31,-0.07]]
        initial_rot_list: [[0,0,0], [0,0,0], [0,0,0], [0,0,0], [0,0,0], [0,0,0]]
        dimensions: [[0.22, 0.22, 0.2],[0.22, 0.28, 0.2],[0.22, 0.22, 0.2], [0.22, 0.22, 0.2],[0.22, 0.28, 0.2],[0.22, 0.22, 0.2]]
        frame_id_list: [base, base, base, base, base, base]
        prefixes: [bin_g, bin_h, bin_i, bin_j, bin_k, bin_l]
      </rosparam>
    </node>

  </group>

  <node if="$(arg use_decomposer)" pkg="jsk_pcl_ros" type="cluster_point_indices_decomposer" name="object_clusters_on_plane">
    <remap from="~input" to="doura/cloud_from_base/output" />
    <remap from="~target" to="/doura/bin_extracter/point_indices" />
    <rosparam>
      align_boxes: false
      use_pca: true
      publish_clouds: false
      publish_tf: false
    </rosparam>
  </node>

  <group unless="$(arg use_decomposer)">
    <node pkg="nodelet" type="nodelet" name="extract_g_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_g/point_indices" />
      <rosparam>
        use_indices: true
        align_boxes: false
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="extract_h_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_h/point_indices" />
      <rosparam>
        use_indices: true
        align_boxes: false
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="extract_i_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_i/point_indices" />
      <rosparam>
        align_boxes: false
        use_indices: true
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="extract_j_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_j/point_indices" />
      <rosparam>
        align_boxes: false
        use_indices: true
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="extract_k_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_k/point_indices" />
      <rosparam>
        align_boxes: false
        use_indices: true
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="extract_l_indices"
          args="standalone jsk_pcl/EstimateBoundingBox ">
      <remap from="~points" to="doura/cloud_from_base/output" />
      <remap from="~indices" to="/doura/bin_extracter/bin_l/point_indices" />
      <rosparam>
        align_boxes: false
        use_indices: true
        min_points: 100
        min_distance: 0.02
      </rosparam>
    </node>
    <!-- <node pkg="nodelet" type="nodelet" name="extract_g_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_g/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->
    <!-- <node pkg="nodelet" type="nodelet" name="extract_h_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_h/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="extract_i_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_i/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="extract_j_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_j/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="extract_k_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_k/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->

    <!-- <node pkg="nodelet" type="nodelet" name="extract_l_indices" -->
    <!--       args="standalone jsk_pcl/EstimateBoundingBox "> -->
    <!--   <remap from="~points" to="doura/cloud_from_base/output" /> -->
    <!--   <remap from="~indices" to="/doura/bin_extracter/bin_l/point_indices" /> -->
    <!--   <rosparam> -->
    <!--     use_indices: true -->
    <!--   </rosparam> -->
    <!-- </node> -->
  </group>
</launch>
