<launch>
    <arg name="DEBUG" default="true" />
    <arg name="custom" default="true"/>

    <env name="DISPLAY" value="" unless="$(arg DEBUG)" />

    <include file="$(find jsk_2014_picking_challenge)/launch/upload_baxter.launch">
        <arg name="custom" value="$(arg custom)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
          args="-0.15 0.95 -0.0 0 -1.57 1.57 kinect2_rgb_optical_frame base 100" >
    </node>

    <include file="$(find jsk_2014_picking_challenge)/launch/passthrough_image.launch">
        <arg name="custom" value="$(arg custom)"/>
    </include>

    <!-- rosserial -->
    <!-- <node pkg="rosserial_python" type="serial_node.py" name="rosserial_node" output="screen" respawn="true"> -->
    <!--     <param name="port" type="string" value="/dev/ttyUSB0" /> -->
    <!-- </node> -->

    <!-- JSON -->
    <node pkg="jsk_2014_picking_challenge" type="read_json.py" name="read_json_data"
          args="--file $(find jsk_2014_picking_challenge)/data/example.json"></node>
    <!-- Move to bin -->
    <node pkg="jsk_2014_picking_challenge" type="move-arm2target-bin-server.l" name="move_arm2target_bin" output="screen"></node>
    <!-- Object picking -->
    <node pkg="jsk_2014_picking_challenge" type="object-picking-server.l" name="object_picking" output="screen"></node>
    <!-- Object verification-->
    <node pkg="jsk_2014_picking_challenge" type="move-for-verification.l" name="move_for_verification" output="screen"></node>
    <include file="$(find jsk_2014_picking_challenge)/launch/sift_matcher.launch">
        <arg name="input_image" value="/apply_mask/output" />
        <arg name="input_info" value="/kinect2/rgb/camera_info" />
    </include>

    <include file="$(find jsk_2014_picking_challenge)/launch/color_histogram_matcher.launch"></include>
    <!-- Place item -->
    <node pkg="jsk_2014_picking_challenge" type="put-orderbin.l" name="put_orderbin" output="screen"></node>
</launch>
