<launch>
    <node pkg="jsk_2014_picking_challenge" type="fake_camera_info_publisher.py" name="fake_camera_info_publisher" output="screen"></node>
    <node pkg="jsk_2014_picking_challenge" type="image_publish_server.py" name="image_publish_server" output="screen"></node>
    <node pkg="imagesift" type="imagesift" name="imagesift">
        <remap from="/image" to="/image_publish_server/output" />
        <remap from="/camera_info" to="/fake_camera_info_publisher/output" />
    </node>

    <node pkg="jsk_2014_picking_challenge" type="sift_matcher.py" name="sift_matcher" output="screen"></node>

    <node pkg="jsk_2014_picking_challenge" type="test_sift_matching.py" name="test_sift_matching" output="screen"></node>
</launch>
