<launch>

  <arg name="moveit" default="false" />
  <arg name="gripper_v4_limb" default="['left']" />

  <!-- custom baxter params -->
  <param name="/robot_description"
         command="$(find xacro)/xacro.py $(find jsk_2016_01_baxter_apc)/robots/baxterrgv5.xacro" />
  <node name="robot_state_publisher"
        pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="/robot/joint_states"/>
  </node>
  <rosparam param="/baxter_joint_trajectory"
            file="$(find jsk_2015_05_baxter_apc)/config/baxter_joint_trajectory.yaml"/>


  <!-- vacuum gripper -->
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/vacuum_gripper.launch" />
  <node name="enable_gripper"
        pkg="jsk_2016_01_baxter_apc" type="enable_gripper" output="screen" />
  <node name="gripper_joint_state_publisher"
        pkg="jsk_2016_01_baxter_apc" type="gripper_joint_states_publisher">
    <rosparam param="limb" subst_value="True">$(arg gripper_v4_limb)</rosparam>
  </node>
  <node name="gripper_trajectory_server"
        pkg="jsk_2016_01_baxter_apc" type="gripper_trajectory_server" output="screen">
    <rosparam param="limb" subst_value="True">$(arg gripper_v4_limb)</rosparam>
  </node>
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/gripper_v5_dxl_controller.launch" />
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/gripper_v5_ros_control.launch" />


  <!-- baxter startup -->
  <include file="$(find jsk_baxter_startup)/baxter.launch">
    <arg name="launch_servo" value="true"/>
    <arg name="launch_joint_trajectory" value="true"/>
    <arg name="launch_gripper_action" value="false"/>
    <arg name="launch_openni" value="false"/>
    <arg name="launch_kinect2" value="false"/>
    <arg name="launch_voice_echo" value="true"/>
    <arg name="launch_moveit" value="false"/>
    <arg name="launch_teleop" value="false"/>
    <arg name="launch_tweet" value="false"/>
    <arg name="launch_mongodb" value="false"/>
    <arg name="launch_wrench" value="false"/>
    <arg name="launch_time_signal" value="false"/>
    <arg name="start_openni" value="false"/>
    <arg name="USER_NAME" value="false"/>
  </include>


  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kiva_pod_state.launch" />
  <node name="transformable_interactive_server"
        pkg="jsk_interactive_marker" type="transformable_server_sample">
    <rosparam subst_value="true">
      display_interactive_manipulator: true
      display_interactive_manipulator_only_selected: true
      display_description_only_selected: true
    </rosparam>
  </node>
  <node name="transformable_bin_markers"
        pkg="jsk_interactive_marker" type="transformable_markers_client.py">
    <remap from="~server" to="transformable_interactive_server" />
    <rosparam subst_value="true">
      config_file: $(find jsk_2016_01_baxter_apc)/config/shelf_marker.yaml
      config_auto_save: true  <!-- Use true to save config updated on rviz -->
    </rosparam>
  </node>

  <node name="desktop_bg_publisher"
        pkg="jsk_perception" type="image_publisher.py">
    <rosparam subst_value="true">
      file_name: $(find jsk_apc2016_common)/resource/wallpapers/wallpaper_black.png
    </rosparam>
  </node>
  <node name="team_k_desktop_xdisplay"
        pkg="jsk_baxter_startup" type="xdisplay_image_topic.py"
        args="/desktop_bg_publisher/output" />

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/baxter_moveit.launch" if="$(arg moveit)" />

</launch>
