<launch>
  <arg name="hand" />

  <group ns="save_data">
    <node pkg="jsk_rqt_plugins" type="rqt_yn_btn" name="save_data_yn_btn" />
  </group>

  <node pkg="jsk_apc2016_common" type="collect_sib_data.py"
        name="$(arg hand)_collect_sib_data" output="screen">
    <remap from="~input" to="$(arg hand)_sib_topic_sync/output"/>
    <remap from="~input/bin_info_array" to="/set_bin_param/bin_array"/>
    <remap from="~input/depth" to="/kinect2_torso/hd/image_depth_rect"/>
    <remap from="~target_bin_name" to="$(arg hand)_hand/target_bin"/>
    <param name="~try_dir" value="1" />
    <param name="always_subscribe" value="True" />
  </node>
</launch>
