<launch>

  <!-- Data creator -->
  <arg name="MANAGER" value="in_hand_data_collection_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/in_hand_data_collection_for_each_hand.launch">
    <arg name="HAND" value="left" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/in_hand_data_collection_for_each_hand.launch">
    <arg name="HAND" value="right" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>

  <!-- main -->
  <node name="in_hand_data_collection_left_main"
        pkg="jsk_2016_01_baxter_apc" type="in-hand-data-collection-main.l"
        output="screen">
    <rosparam subst_value="true">
      arm: left
      grasping_log_filename: $(env HOME)/.ros/jsk_2016_01_baxter_apc/grasping_log_left.csv
      object_list:
        - barkely_hide_bones
        - cherokee_easy_tee_shirt
        - clorox_utility_brush
        - cloud_b_plush_bear
        - command_hooks
        - cool_shot_glue_sticks
        - crayola_24_ct
        - creativity_chenille_stems
        - dasani_water_bottle
        - dove_beauty_bar
        - dr_browns_bottle_brush
        - easter_turtle_sippy_cup
        - elmers_washable_no_run_school_glue
        - expo_dry_erase_board_eraser
        - fiskars_scissors_red
        - fitness_gear_3lb_dumbbell
        - folgers_classic_roast_coffee
        - hanes_tube_socks
        - i_am_a_bunny_book
    </rosparam>
  </node>
  <node name="in_hand_data_collection_right_main"
        pkg="jsk_2016_01_baxter_apc" type="in-hand-data-collection-main.l"
        output="screen">
    <rosparam subst_value="true">
      arm: right
      grasping_log_filename: $(env HOME)/.ros/jsk_2016_01_baxter_apc/grasping_log_right.csv
      object_list:
        - jane_eyre_dvd
        - kleenex_paper_towels
        - kleenex_tissue_box
        - kyjen_squeakin_eggs_plush_puppies
        - laugh_out_loud_joke_book
        - oral_b_toothbrush_green
        - oral_b_toothbrush_red
        - peva_shower_curtain_liner
        - platinum_pets_dog_bowl
        - rawlings_baseball
        - rolodex_jumbo_pencil_cup
        - safety_first_outlet_plugs
        - scotch_bubble_mailer
        - scotch_duct_tape
        - soft_white_lightbulb
        - staples_index_cards
        - ticonderoga_12_pencils
        - up_glucose_bottle
        - womens_knit_gloves
        - woods_extension_cord
    </rosparam>
  </node>

  <!-- Visualization & GUI -->
  <node name="left_image_publisher"
        pkg="jsk_perception" type="image_publisher.py">
    <rosparam subst_value="true">
      file_name: $(find jsk_apc2016_common)/models/barkely_hide_bones/image.jpg
    </rosparam>
  </node>
  <node name="right_image_publisher"
        pkg="jsk_perception" type="image_publisher.py">
    <rosparam subst_value="true">
      file_name: $(find jsk_apc2016_common)/models/jane_eyre_dvd/image.jpg
    </rosparam>
  </node>
  <node name="rqt_yn_btn"
        pkg="jsk_rqt_plugins" type="rqt_yn_btn">
  </node>
  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find jsk_2016_01_baxter_apc)/rvizconfig/in_hand_data_collection.rviz" />
  <node name="rosconsole_overlay_text"
        pkg="jsk_rviz_plugins" type="rosconsole_overlay_text.py">
    <rosparam>
      nodes:
        - /in_hand_data_collection_left_main
        - /in_hand_data_collection_right_main
        - /data_collection_server_left
        - /data_collection_server_right
    </rosparam>
  </node>

  <!-- Recoding -->
  <include file="$(find jsk_tools)/launch/record_axis_camera.launch">
    <arg name="stamped_filename" value="true" />
    <arg name="filename" value="$(env HOME)/.ros/jsk_2016_01_baxter_apc/in_hand_data_collection/.avi" />
  </include>

</launch>
