<launch>
  <arg name="launch_main" default="true" />
  <arg name="json" />

  <!-- bin contents data -->
  <node pkg="jsk_2015_05_baxter_apc" type="bin_contents.py" name="bin_contents" respawn="true">
    <param name="json" value="$(arg json)" />
  </node>

  <!-- work order data -->
  <node pkg="jsk_2016_01_baxter_apc" type="work_order.py" name="work_order" respawn="true">
    <rosparam subst_value="true">
        json: $(arg json)
        is_apc2016: false
        gripper: gripper2016
    </rosparam>
  </node>

  <!-- shelf-->
  <arg name="UPPER_SHELF" value="$(find jsk_apc2016_common)/config/bin_upper_shelf.yaml"/>
  <arg name="LOWER_SHELF" value="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml"/>

  <!-- Publish jsk_apc2016_common/BinInfo from json -->
  <node name="set_bin_param"
        pkg="jsk_apc2016_common" type="publish_bin_info.py"
        output="screen">
    <param name="json" value="$(arg json)"/>
    <rosparam file="$(arg UPPER_SHELF)" command="load" ns="upper_shelf"/>
    <rosparam file="$(arg LOWER_SHELF)" command="load" ns="lower_shelf"/>
  </node>

  <!-- publish bin tf -->
  <node pkg="jsk_apc2016_common" type="publish_bin_tf.py"
    name="pub_bin_tf">
    <remap from="~input/bin_info_array" to="/set_bin_param/bin_array"/>
  </node>

  <!-- parameter -->
  <param name="/left_hand/state" value="" />
  <param name="/left_hand/target_bin" value="" />
  <param name="/right_hand/state" value="" />
  <param name="/right_hand/target_bin" value="" />

  <node pkg="jsk_rqt_plugins" type="rqt_yn_btn" name="rqt_yn_btn" />

  <!-- object verification -->
  <group ns="left_hand">
    <node name="object_verification"
          pkg="jsk_2016_01_baxter_apc" type="apply_bin_contents_hint.py"
          respawn="true">
      <remap from="~input" to="vgg16_object_recognition/output" />
      <param name="json" value="$(arg json)" />
    </node>
  </group>
  <group ns="right_hand">
    <node name="object_verification"
          pkg="jsk_2016_01_baxter_apc" type="apply_bin_contents_hint.py"
          respawn="true">
      <remap from="~input" to="vgg16_object_recognition/output" />
      <param name="json" value="$(arg json)" />
    </node>
  </group>

  <!-- robot main -->
  <node if="$(arg launch_main)" pkg="jsk_2016_01_baxter_apc" type="main.l" name="left_hand"
    args="&quot;(progn (apc-init :larm-controller) (apc-mainloop :larm))&quot;"
    respawn="true" output="screen">
    <env name="DISPLAY" value="" />
  </node>
  <node if="$(arg launch_main)" pkg="jsk_2016_01_baxter_apc" type="main.l" name="right_hand"
    args="&quot;(progn (apc-init :rarm-controller) (apc-mainloop :rarm))&quot;"
    respawn="true" output="screen">
    <env name="DISPLAY" value="" />
  </node>

  <!-- visualization -->
  <node name="visualize_json"
        pkg="jsk_apc2016_common" type="visualize_pick_json.py"
        args="$(arg json)" />
  <node name="visualize_on_rviz"
        pkg="jsk_2015_05_baxter_apc" type="visualize_on_rviz.py">
    <param name="json" value="$(arg json)" />
  </node>

</launch>
