<launch>
  <arg name="launch_main" default="true" />
  <arg name="json" />
  <arg name="collect_data" default="false" />
  <arg name="rviz" default="true" />
  <arg name="rvizconfig" default="$(find jsk_2016_01_baxter_apc)/rvizconfig/pick.rviz" />
  <arg name="gripper" default="gripper2016" />

  <!-- set bin_contents rosparam -->
  <node name="set_bin_contents_param"
        pkg="jsk_2016_01_baxter_apc" type="json_to_rosparam.py">
    <remap from="~param" to="/bin_contents" />
    <rosparam subst_value="true">
      json: $(arg json)
      key: bin_contents
    </rosparam>
  </node>

  <!-- work order data -->
  <node pkg="jsk_2016_01_baxter_apc" type="work_order_server.py" name="strategic_work_order" respawn="true">
    <remap from="~bin_contents" to="/bin_contents" />
    <rosparam subst_value="true">
      json: $(arg json)
      is_apc2016: true
      gripper: $(arg gripper)
    </rosparam>
  </node>

  <!-- target select GUI -->
  <node pkg="jsk_apc2016_common" type="rqt_select_target" name="rqt_select_target" output="screen">
    <remap from="~bin_contents" to="/bin_contents" />
    <remap from="~work_order" to="/strategic_work_order/work_order" />
    <remap from="~service" to="/strategic_work_order/update_target" />
  </node>

  <node pkg="jsk_2016_01_baxter_apc" type="output_json_pick.py" name="output_json_pick" respawn="true">
    <rosparam subst_value="true">
        json: $(arg json)
    </rosparam>
  </node>

  <!-- parameter -->
  <param name="/left_hand/state" value="" />
  <param name="/left_hand/target_bin" value="" />
  <param name="/right_hand/state" value="" />
  <param name="/right_hand/target_bin" value="" />

  <node name="rqt_yn_btn"
        pkg="jsk_rqt_plugins" type="rqt_yn_btn">
    <remap from="~" to="/rviz/yes_no_button" />
  </node>
  <group if="$(arg rviz)">
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(arg rvizconfig)">
    </node>
  </group>

  <!-- object verification -->
  <!-- TODO(unknown): Currently object verification is unstable.
  <group ns="left_hand">
    <node name="object_verification"
          pkg="jsk_2016_01_baxter_apc" type="apply_bin_contents_hint.py"
          respawn="true">
      <remap from="~input" to="vgg16_object_recognition/output" />
      <param name="json" value="$(arg json)" />
    </node>
  </group>
  <group ns="right_hand">
    <node name="object_verification"
          pkg="jsk_2016_01_baxter_apc" type="apply_bin_contents_hint.py"
          respawn="true">
      <remap from="~input" to="vgg16_object_recognition/output" />
      <param name="json" value="$(arg json)" />
    </node>
  </group>
  -->

  <!-- robot main -->
  <node if="$(arg launch_main)" pkg="jsk_2016_01_baxter_apc" type="main.l" name="left_hand"
        args="&quot;(progn (apc-init :larm-controller) (apc-mainloop :larm))&quot;"
        respawn="true" output="screen">
    <env name="DISPLAY" value="" />
    <rosparam subst_value="true">
      collect_data: $(arg collect_data)
    </rosparam>
  </node>
  <node if="$(arg launch_main)" pkg="jsk_2016_01_baxter_apc" type="main.l" name="right_hand"
    args="&quot;(progn (apc-init :rarm-controller) (apc-mainloop :rarm))&quot;"
    respawn="true" output="screen">
    <env name="DISPLAY" value="" />
    <rosparam subst_value="true">
      collect_data: $(arg collect_data)
    </rosparam>
  </node>

  <!-- visualization -->
  <node name="visualize_json"
        pkg="jsk_apc2016_common" type="visualize_pick_json.py"
        args="$(arg json)" />
  <!--
  <node name="visualize_on_rviz"
        pkg="jsk_2015_05_baxter_apc" type="visualize_on_rviz.py">
    <param name="json" value="$(arg json)" />
  </node>
  -->

  <!-- collecting data for sib -->
  <param name="/apc2016_collect_data" value="$(arg collect_data)" />
  <group if="$(arg collect_data)">
    <node name="data_collection_server_left"
          pkg="jsk_data" type="data_collection_server.py">
      <rosparam>
        save_dir: ~/.ros/jsk_2016_01_baxter_apc/robocup2016
        topics:
          - name: /apply_mask_left_hand/output
            msg_class: sensor_msgs/Image
            savetype: ColorImage
            fname: image.png
          - name: /apply_mask_left_hand/output/mask
            msg_class: sensor_msgs/Image
            savetype: ColorImage
            fname: mask.png
      </rosparam>
    </node>
    <node name="data_collection_server_right"
          pkg="jsk_data" type="data_collection_server.py">
      <rosparam>
        save_dir: ~/.ros/jsk_2016_01_baxter_apc/robocup2016
        topics:
          - name: /apply_mask_right_hand/output
            msg_class: sensor_msgs/Image
            savetype: ColorImage
            fname: image.png
          - name: /apply_mask_right_hand/output/mask
            msg_class: sensor_msgs/Image
            savetype: ColorImage
            fname: mask.png
      </rosparam>
    </node>
  </group>

  <node name="rosconsole_overlay_text"
        pkg="jsk_rviz_plugins" type="rosconsole_overlay_text.py">
    <rosparam>
      nodes:
        - /left_hand
        - /right_hand
    </rosparam>
  </node>

  <node name="team_k_desktop_xdisplay"
        pkg="jsk_baxter_startup" type="xdisplay_image_topic.py"
        args="/visualize_json/output">
  </node>

</launch>
