<launch>
  <arg name="hand" />
  <arg name="json" />

  <node name="visualize_json"
        pkg="jsk_apc2016_common" type="visualize_pick_json.py"
        args="$(arg json)" />


  <node pkg="jsk_rqt_plugins" type="rqt_yn_btn" name="save_data_yn_btn" />

  <node pkg="jsk_apc2016_common" type="save_data.py"
        name="$(arg hand)_save_data" output="screen">
    <remap from="~input" to="$(arg hand)_sib_topic_sync/output"/>
    <remap from="~input/bin_info_array" to="/set_bin_param/bin_array"/>
    <remap from="~input/depth" to="/kinect2_torso/hd/depth"/>
    <remap from="~target_bin_name" to="$(arg hand)_hand/target_bin"/>
    <param name="~json" value="$(arg json)" />
    <param name="~try_dir" value="1" />
    <param name="always_subscribe" value="True" />
  </node>
</launch>
