<launch>
  <arg name="target_bb" value="/bb_g"/>

  <node name="bba_to_bb" pkg="jsk_2016_01_baxter_apc" type="bba_to_bb.py"/>
  <node name="dist2shelf"  pkg="jsk_2016_01_baxter_apc" type="dist2shelf.py" output="screen">
    <remap from="~input/bb" to="$(arg target_bb)"/>
    <remap from="~output" to="/dist2shelf"/>
  </node>




  <node name="segmentation"
        pkg="jsk_2016_01_baxter_apc" type="segmentation.py">
    <rosparam>
      initial_pos_list: [[-0.27, 0.29, -0.41], [-0.24, -0.01, -0.41], [-0.24, -0.32, -0.41], [-0.27, 0.29, -0.15], [-0.24, -0.01, -0.15], [-0.24, -0.32, -0.15]]
      initial_rot_list: [[0, 0, 0], [0, 0, 0], [0, 0, 0.0], [0, 0, 0], [0, 0, 0], [0, 0, 0.00]]
      dimensions: [[0.38, 0.23, 0.20],[0.38, 0.27, 0.20],[0.38, 0.23, 0.20], [0.38, 0.23, 0.18],[0.38, 0.27, 0.18],[0.38, 0.23, 0.18]]
      frame_id_list: [kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base]
      prefixes: [bin_j, bin_k, bin_l, bin_g, bin_h, bin_i]
      camera_directions: [x, x, x, x, x, x]
    </rosparam>
</launch>
