<launch>
  <arg name="TRAINED_PATH" value="$(find jsk_apc2016_common)/data/trained_segmenter.pkl" />

  <arg name="json" />
  <arg name="MANAGER" value="segmentation_in_bin_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- shelf-->
  <arg name="UPPER_SHELF" value="$(find jsk_apc2016_common)/config/bin_upper_shelf.yaml"/>
  <arg name="LOWER_SHELF" value="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml"/>

  <!-- publish BinInfo.msg from json -->
  <node pkg="jsk_apc2016_common" type="publish_bin_info.py"
    name="set_bin_param" output="screen">
    <param name="json" value="$(arg json)"/>
    <rosparam file="$(arg UPPER_SHELF)" command="load" ns="upper_shelf"/>
    <rosparam file="$(arg LOWER_SHELF)" command="load" ns="lower_shelf"/>
  </node>
 
  <!-- publish BinInfo.msg from json -->
  <node pkg="jsk_apc2016_common" type="publish_bin_tf.py"
    name="pub_bin_tf">
    <remap from="~input/bin_info_array" to="/set_bin_param/bin_array"/>
  </node>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/segmentation_for_each_hand.launch">
    <arg name="INPUT_IMAGE" value="left_softkinetic_camera/rgb/image_color" />
    <arg name="INPUT_CLOUD" value="left_softkinetic_camera/depth/points" />
    <arg name="INPUT_INFO" value="left_softkinetic_camera/rgb/camera_info"/>
    <arg name="MANAGER" value="$(arg MANAGER)" />
    <arg name="JSON" value="$(arg json)" />
    <arg name="HAND" value="left" />
    <arg name="INPUT_BIN_ARRAY" value="/set_bin_param/bin_array"/>
    <arg name="TRAINED_PATH" value="$(arg TRAINED_PATH)" />
  </include>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/segmentation_for_each_hand.launch">
    <arg name="INPUT_IMAGE" value="right_softkinetic_camera/rgb/image_color" />
    <arg name="INPUT_CLOUD" value="right_softkinetic_camera/depth/points" />
    <arg name="INPUT_INFO" value="right_softkinetic_camera/rgb/camera_info"/>
    <arg name="MANAGER" value="$(arg MANAGER)" />
    <arg name="JSON" value="$(arg json)" />
    <arg name="HAND" value="right" />
    <arg name="INPUT_BIN_ARRAY" value="/set_bin_param/bin_array"/>
    <arg name="TRAINED_PATH" value="$(arg TRAINED_PATH)" />
  </include>

</launch>
