<launch>

  <arg name="rgv5" value="false" />

  <!-- hand mounted camera -->
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/astra_hand.launch" unless="$(arg rgv5)"/>
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/astra_hand_rgv5.launch" if="$(arg rgv5)"/>

  <!-- for left hand camera -->
  <arg name="manager_left" value="left_hand_camera_nodelet_manager" />
  <group ns="left_hand_camera">
    <node name="in_tote_clipper"
      type="nodelet" pkg="nodelet"
      args="load jsk_pcl/AttentionClipper $(arg manager_left)" >
      <remap from="~input/points" to="/left_hand_camera/depth_registered/points" />
      <rosparam>
        initial_pos: [0.75, 0.12, -0.42]
        initial_rot: [0, -0.03, 0]
        dimension_x: 0.30
        dimension_y: 0.32
        dimension_z: 0.15
        frame_id: base
      </rosparam>
    </node>
    <node name="in_tote_extract_pi"
      type="nodelet" pkg="nodelet"
      args="load jsk_pcl/ExtractIndices $(arg manager_left)">
      <remap from="~input" to="/left_hand_camera/depth_registered/points" />
      <remap from="~indices" to="in_tote_clipper/output/point_indices" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        max_queue_size: 100
      </rosparam>
    </node>
    <include file="$(find jsk_apc2016_common)/launch/object_segmentation_3d.launch">
      <arg name="NODELET_MANAGER" value="$(arg manager_left)" />
      <arg name="INPUT_IMAGE" value="/left_hand_camera/rgb/image_rect_color"/>
      <arg name="INPUT_CLOUD" value="in_tote_extract_pi/output"/>
      <arg name="FIXED_FRAME" value="base" />
    </include>
  </group>

  <!-- for right hand camera -->
  <arg name="manager_right" value="right_hand_camera_nodelet_manager" />
  <group ns="right_hand_camera">
    <node name="in_tote_clipper"
      type="nodelet" pkg="nodelet"
      args="load jsk_pcl/AttentionClipper $(arg manager_right)" >
      <remap from="~input/points" to="/right_hand_camera/depth_registered/points" />
      <rosparam>
        initial_pos: [0.75, -0.12, -0.42]
        initial_rot: [0, -0.03, 0]
        dimension_x: 0.30
        dimension_y: 0.32
        dimension_z: 0.15
        frame_id: base
      </rosparam>
    </node>
    <node name="in_tote_extract_pi"
      type="nodelet" pkg="nodelet"
      args="load jsk_pcl/ExtractIndices $(arg manager_right)">
      <remap from="~input" to="/right_hand_camera/depth_registered/points" />
      <remap from="~indices" to="in_tote_clipper/output/point_indices" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        max_queue_size: 100
      </rosparam>
    </node>
    <include file="$(find jsk_apc2016_common)/launch/object_segmentation_3d.launch">
      <arg name="NODELET_MANAGER" value="$(arg manager_right)" />
      <arg name="INPUT_IMAGE" value="/right_hand_camera/rgb/image_rect_color"/>
      <arg name="INPUT_CLOUD" value="in_tote_extract_pi/output"/>
      <arg name="FIXED_FRAME" value="base" />
    </include>
  </group>

</launch>
