<launch>


  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kinect2_torso.launch" />


  <arg name="MANAGER" value="doura_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />


  <include file="$(find jsk_2015_05_baxter_apc)/launch/segmentation_in_bin_gtol.launch">
    <arg name="INPUT_IMAGE" value="/kinect2_torso/hd/image_color" />
    <arg name="INPUT_DEPTH" value="/kinect2_torso/hd/image_depth_rect" />
    <arg name="INPUT_CLOUD" value="/kinect2_torso/hd/points" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
    <arg name="LOWER_SHELF" value="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml"/>
  </include>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/recognition_in_hand.launch">
    <arg name="INPUT_IMAGE" value="/kinect2_torso/hd/image_color" />
    <arg name="INPUT_CLOUD" value="/kinect2_torso/hd/points" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>


</launch>
