<launch>

  <arg name="NODELET_MANAGER" default="kinect2_torso" />
  <arg name="use_stow" default="false" />

  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kinect2_torso.launch">
    <arg name="NODELET_MANAGER" value="$(arg NODELET_MANAGER)" />
  </include>


  <include file="$(find jsk_2015_05_baxter_apc)/launch/segmentation_in_bin_gtol.launch">
    <arg name="NODELET_MANAGER" value="$(arg NODELET_MANAGER)" />
    <arg name="NODELET_ID_0" default="0" />
    <arg name="NODELET_ID_1" default="1" />
    <arg name="NODELET_ID_2" default="2" />
    <arg name="NODELET_ID_3" default="3" />
    <arg name="NODELET_ID_4" default="4" />
    <arg name="NODELET_ID_5" default="5" />
    <arg name="NODELET_ID_6" default="6" />
    <arg name="INPUT_IMAGE" value="/kinect2_torso/hd/image_color" />
    <arg name="INPUT_DEPTH" value="/kinect2_torso/hd/image_depth_rect" />
    <arg name="INPUT_CLOUD" value="/kinect2_torso/hd/points" />
    <arg name="LOWER_SHELF" value="$(find jsk_apc2016_common)/config/bin_lower_shelf.yaml"/>
  </include>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/recognition_in_hand.launch" unless="$(arg use_stow)">
    <arg name="NODELET_MANAGER" value="$(arg NODELET_MANAGER)" />
    <arg name="NODELET_ID_7" default="7" />
    <arg name="INPUT_IMAGE" value="/kinect2_torso/hd/image_color" />
    <arg name="INPUT_CLOUD" value="/kinect2_torso/hd/points" />
  </include>
  <include file="$(find jsk_2016_01_baxter_apc)/launch/recognition_in_hand_for_stow.launch" if="$(arg use_stow)">
    <arg name="NODELET_MANAGER" value="$(arg NODELET_MANAGER)" />
    <arg name="NODELET_ID_7" default="7" />
    <arg name="INPUT_IMAGE" value="/kinect2_torso/hd/image_color" />
    <arg name="INPUT_CLOUD" value="/kinect2_torso/hd/points" />
  </include>


</launch>
