<launch>

  <arg name="left_first" default="true" />

  <!-- Launch hand mounted astra cameras. -->
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/astra_hand_rgv5.launch">
    <arg name="left_first" value="$(arg left_first)" />
  </include>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/setup_for_pick.launch">
    <arg name="launch_astra" value="false" />
    <arg name="left_first" value="$(arg left_first)" />
  </include>

</launch>
