<launch>
  <arg name="NODELET_MANAGER" />
  <arg name="NODELET_ID_0" />

  <arg name="INPUT_CLOUD"/>
  <arg name="INPUT_IMAGE"/>
  <arg name="INPUT_INFO"/>
  <arg name="HAND" />
  <arg name="INPUT_BIN_ARRAY" />
  <arg name="TRAINED_PATH" />

  <param name="$(arg HAND)_hand/target_bin" value=""/>

  <node pkg="jsk_apc2016_common" type="publish_target_bin_info.py"
    name="$(arg HAND)_sib_pub_target_bin_info" output="screen">
    <remap from="~target_bin_name" to="$(arg HAND)_hand/target_bin"/>
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
  </node>

  <!-- bound three topics to one -->
  <node pkg="jsk_apc2016_common" type="cloud_to_spatial_features"
    name="$(arg HAND)_sib_spatial">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <remap from="~target_bin" to="/$(arg HAND)_sib_pub_target_bin_info/target_bin_info"/>
  </node>

  <node pkg="jsk_apc2016_common" type="tf_bbox_to_mask.py"
      name="$(arg HAND)_sib_mask" output="screen">
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
    <remap from="~target_bin_name" to="$(arg HAND)_hand/target_bin"/>
    <remap from="~input" to="$(arg INPUT_INFO)"/>
  </node>

  <node pkg="jsk_apc2016_common" type="sib_topic_synchronizer"
        name="$(arg HAND)_sib_topic_sync" output="screen">
    <remap from="~input/dist" to="/$(arg HAND)_sib_spatial/dist"/>
    <remap from="~input/height" to="/$(arg HAND)_sib_spatial/height"/>
    <remap from="~input/image" to="$(arg INPUT_IMAGE)"/>
    <remap from="~input/mask" to="/$(arg HAND)_sib_mask/output"/>
  </node>

  <node pkg="jsk_apc2016_common" type="rbo_segmentation_in_bin_node.py"
        name="$(arg HAND)_sib_rbo" output="screen">
    <remap from="~input" to="$(arg HAND)_sib_topic_sync/output"/>
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
    <remap from="~target_bin_name" to="$(arg HAND)_hand/target_bin"/>
    <param name="trained_pkl_path" value="$(arg TRAINED_PATH)" />
  </node>

  <group ns="$(arg NODELET_MANAGER)">
    <rosparam subst_value="true">
      $(arg NODELET_ID_0):
        - name: $(arg HAND)_sib_mask_image_to_pi
          type: jsk_pcl/MaskImageToPointIndices
          remappings:
            - from: ~input
              to: $(arg HAND)_sib_rbo/target_mask_compressed
        - name: $(arg HAND)_sib_extract_pi
          type: jsk_pcl/ExtractIndices
          remappings:
            - from: ~input
              to: $(arg INPUT_CLOUD)
            - from: ~indices
              to: $(arg HAND)_sib_mask_image_to_pi/output
        - name: $(arg HAND)_sib_centroid_publisher
          type: jsk_pcl/CentroidPublisher
          remappings:
            - from: ~input
              to: $(arg HAND)_sib_extract_pi/output
    </rosparam>
  </group>
  <group ns="$(arg HAND)_sib_extract_pi">
    <rosparam>
      max_queue_size: 100
      approximate_sync: true
    </rosparam>
  </group>

  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/sib_visualization.launch">
      <arg name="DIST" value="/$(arg HAND)_sib_spatial/dist"/>
      <arg name="HEIGHT" value="/$(arg HAND)_sib_spatial/height"/>
      <arg name="POSTERIOR" value="/$(arg HAND)_sib_rbo/posterior"/>
      <arg name="INPUT_IMAGE" value="$(arg INPUT_IMAGE)"/>
      <arg name="MASK" value="/$(arg HAND)_sib_rbo/target_mask"/>
      <arg name="HAND" value="$(arg HAND)"/>
  </include>
</launch>
