<launch>
  <arg name="NODELET_MANAGER" />
  <arg name="NODELET_ID_0" />

  <arg name="INPUT_CLOUD"/>
  <arg name="INPUT_IMAGE"/>
  <arg name="HAND" />

  <group ns="$(arg NODELET_MANAGER)">
    <rosparam subst_value="true">
      $(arg NODELET_ID_0):
        - name: $(arg HAND)_in_tote_extract_pi
          type: jsk_pcl/ExtractIndices
          remappings:
            - from: ~input
              to: $(arg INPUT_CLOUD)
            - from: ~indices
              to: $(arg HAND)_in_tote_clipper/output/point_indices
        - name: $(arg HAND)_in_tote_supervoxel
          type: jsk_pcl/SupervoxelSegmentation
          remappings:
            - from: ~input
              to: $(arg HAND)_in_tote_extract_pi/output
        - name: $(arg HAND)_in_tote_supervoxel_cpi_decomposer
          type: jsk_pcl/ClusterPointIndicesDecomposer
          remappings:
            - from: ~input
              to: $(arg HAND)_in_tote_supervoxel/output/cloud
            - from: ~target
              to: $(arg HAND)_in_tote_supervoxel/output/indices
    </rosparam>
  </group>
  <group ns="$(arg HAND)_in_tote_extract_pi">
    <rosparam>
      max_queue_size: 50
      keep_organized: true
    </rosparam>
  </group>
  <group ns="$(arg HAND)_in_tote_supervoxel">
    <rosparam>
      color_importance: 0.2
      spatial_importance: 0.4
      normal_importance: 1.0
      voxel_resolution: 0.01
      seed_resolution: 0.1
    </rosparam>
  </group>
  <group ns="$(arg HAND)_in_tote_supervoxel_cpi_decomposer">
    <rosparam>
      queue_size: 50
    </rosparam>
  </group>

</launch>
