<launch>
  <arg name="INPUT_CLOUD"/>
  <arg name="INPUT_IMAGE"/>
  <arg name="INPUT_INFO"/>
  <arg name="MANAGER"/>
  <arg name="JSON"/>
  <arg name="HAND" />
  <arg name="INPUT_BIN_ARRAY" />
  <arg name="TRAINED_PATH" />

  <arg name="INPUT_TARGET" value="$(arg HAND)_hand/target_bin"/>
  <param name="$(arg HAND)_hand/target_bin" value=""/>

  <node pkg="jsk_apc2016_common" type="publish_target_bin_info.py"
    name="$(arg HAND)_sib_pub_target_bin_info" output="screen">
    <remap from="~target_bin_name" to="$(arg INPUT_TARGET)"/>
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
  </node>

  <!-- bound three topics to one -->
  <node pkg="jsk_apc2016_common" type="cloud_to_spatial_features"
    name="$(arg HAND)_sib_spatial">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <remap from="~target_bin" to="/$(arg HAND)_sib_pub_target_bin_info/target_bin_info"/>
  </node>

  <node pkg="jsk_apc2016_common" type="tf_bbox_to_mask.py"
      name="$(arg HAND)_sib_mask" output="screen">
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
    <remap from="~target_bin_name" to="$(arg INPUT_TARGET)"/>
    <remap from="~input" to="$(arg INPUT_INFO)"/>
  </node>

  <node pkg="jsk_apc2016_common" type="sib_topic_synchronizer"
        name="$(arg HAND)_sib_topic_sync" output="screen">
    <remap from="~input/dist" to="/$(arg HAND)_sib_spatial/dist"/>
    <remap from="~input/height" to="/$(arg HAND)_sib_spatial/height"/>
    <remap from="~input/image" to="$(arg INPUT_IMAGE)"/>
    <remap from="~input/mask" to="/$(arg HAND)_sib_mask/output"/>
  </node>

  <node pkg="jsk_apc2016_common" type="rbo_segmentation_in_bin_node.py"
        name="$(arg HAND)_sib_rbo" output="screen">
    <remap from="~input" to="$(arg HAND)_sib_topic_sync/output"/>
    <remap from="~input/bin_info_array" to="$(arg INPUT_BIN_ARRAY)"/>
    <remap from="~target_bin_name" to="$(arg INPUT_TARGET)"/>
    <param name="trained_pkl_path" value="$(arg TRAINED_PATH)" />
  </node>

  <node name="$(arg HAND)_sib_mask_image_to_pi"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/MaskImageToPointIndices $(arg MANAGER)">
    <remap from="~input" to="$(arg HAND)_sib_rbo/target_mask"/>
  </node>

  <node name="$(arg HAND)_sib_extract_pi"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="$(arg HAND)_sib_mask_image_to_pi/output" />
    <rosparam>
      max_queue_size: 100
      approximate_sync: true
    </rosparam>
  </node>

  <node name="$(arg HAND)_sib_centroid_publisher"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/CentroidPublisher $(arg MANAGER)">
        <remap from="~input" to="$(arg HAND)_sib_extract_pi/output"/>
  </node>
  
  <include file="$(find jsk_2016_01_baxter_apc)/launch/include/sib_visualization.launch">
      <arg name="POSTERIOR" value="/$(arg HAND)_sib_rbo/posterior"/>
      <arg name="INPUT_IMAGE" value="$(arg INPUT_IMAGE)"/>
      <arg name="MASK" value="/$(arg HAND)_sib_rbo/target_mask"/>
      <arg name="HAND" value="$(arg HAND)"/>
  </include>
</launch>
