<launch>

  <arg name="INPUT_CLOUD" />
  <arg name="OUTPUT_CLOUD" />

  <node name="in_kiva_pod_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      initial_pos: [0, 0, 0]
      initial_rot: [0, 0, 0]
      dimension_x: 0.865
      dimension_y: 0.865
      dimension_z: 1.0
      frame_id: kiva_pod_base
    </rosparam>
  </node>

  <node name="$(anon extract_indices)"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ExtractIndices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="in_kiva_pod_clipper/output/point_indices" />
    <remap from="~output" to="$(arg OUTPUT_CLOUD)" />
  </node>

</launch>
