<launch>

  <arg name="NODELET_MANAGER" />
  <arg name="INPUT_IMAGE" />
  <arg name="INPUT_CLOUD" />
  <arg name="FIXED_FRAME" />
  <arg name="GPU" default="0" />
  <arg name="BACKEND" default="chainer" />
  <arg name="MODEL_NAME" default="fcn32s" />
  <arg name="MODEL_FILE" default="$(find jsk_apc2016_common)/trained_data/fcn32s_v2_148000.chainermodel"/>
  <arg name="LABEL_YAML" default="$(find jsk_apc2016_common)/config/label_names.yaml"/>
  <arg name="SELECT_LARGEST" default="false" />

  <rosparam command="load" file="$(arg LABEL_YAML)" ns="label_names" />

  <node name="fcn_object_segmentation"
        pkg="jsk_perception" type="fcn_object_segmentation.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />  <!-- rgb timestamp -->
    <rosparam subst_value="true">
      gpu: $(arg GPU)
      backend: $(arg BACKEND)
      model_name: $(arg MODEL_NAME)
      model_h5: $(arg MODEL_FILE)
      model_file: $(arg MODEL_FILE)
    </rosparam>
    <remap from="~target_names" to="label_names" />
  </node>
  <node name="apply_context_to_label_proba"
        pkg="jsk_perception" type="apply_context_to_label_probability">
    <remap from="~input" to="fcn_object_segmentation/output/proba_image" />
  </node>

  <!-- label -> cluster indices -->
  <group if="$(arg SELECT_LARGEST)">
    <node name="label_to_cluster_indices"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/LabelToClusterPointIndices $(arg NODELET_MANAGER)">
      <remap from="~input" to="apply_context_to_label_proba/output/label" />
      <rosparam>
        bg_label: 0
      </rosparam>
    </node>
    <node name="cluster_indices_decomposer_label"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg NODELET_MANAGER)">
      <remap from="~input" to="$(arg INPUT_CLOUD)" />
      <remap from="~target" to="label_to_cluster_indices/output" />
      <rosparam>
        approximate_sync: false
        queue_size: 1000
        sort_by: -cloud_size
      </rosparam>
    </node>
  </group>

  <!-- label -> mask -> indices -> cloud -> resized cloud  -> cluster indices -->
  <node name="label_to_mask"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/LabelToMaskImage $(arg NODELET_MANAGER)">
    <remap from="~input" to="apply_context_to_label_proba/output/label" />  <!-- rgb timestamp -->
  </node>
  <node name="mask_to_point_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/MaskImageToPointIndices $(arg NODELET_MANAGER)">
    <remap from="~input" to="label_to_mask/output" />  <!-- rgb timestamp -->
  </node>
  <node name="extract_indices_target_label"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg NODELET_MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />  <!-- depth timestamp -->
    <remap from="~indices" to="mask_to_point_indices/output" />  <!-- rgb timestamp -->
    <rosparam>
      approximate_sync: true
      queue_size: 100
      keep_organized: true
    </rosparam>
  </node>
  <node name="resize_points_publisher"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ResizePointsPublisher $(arg NODELET_MANAGER)">
    <remap from="~input" to="extract_indices_target_label/output" />  <!-- depth timestamp -->
    <rosparam>
      step_x: 2
      step_y: 2
    </rosparam>
  </node>
  <node name="euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/EuclideanClustering $(arg NODELET_MANAGER)">
    <remap from="~input" to="resize_points_publisher/output" />  <!-- depth timestamp -->
    <rosparam>
      min_size: 10
      max_size: 10000
      tolerance: 0.05
    </rosparam>
  </node>
  <node name="cluster_indices_decomposer_target"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg NODELET_MANAGER)">
    <remap from="~input" to="resize_points_publisher/output" />  <!-- depth timestamp -->
    <remap from="~target" to="euclidean_clustering/output" />  <!-- depth timestamp -->
    <rosparam subst_value="true">
      approximate_sync: false
      queue_size: 1000
      align_boxes: true
      align_boxes_with_plane: false
      target_frame_id: $(arg FIXED_FRAME)
    </rosparam>
  </node>

  <!-- Visualization -->
  <node name="label_image_decomposer"
        pkg="jsk_perception" type="label_image_decomposer.py">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <remap from="~input/label" to="apply_context_to_label_proba/output/label" />
    <remap from="~label_names" to="label_names" />
    <rosparam>
      approximate_sync: true
      queue_size: 100
    </rosparam>
  </node>

</launch>
