<launch>

  <include file="$(find jsk_arc2017_baxter)/launch/setup/include/setup_source_location.xml">
    <arg name="pick" value="false" />
  </include>

  <group ns="left_hand_camera">
    <arg name="manager_left" value="left_hand_camera_nodelet_manager" />
    <node name="attention_clipper_tote"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager_left)">
      <remap from="~input/points" to="/left_hand_camera/depth_registered/points" />
      <rosparam>
        use_multiple_attention: false
        initial_pos: [0.6, 0.12, -0.25]
        initial_rot: [0, -0.03, 0]
        dimension_x: 0.30
        dimension_y: 0.32
        dimension_z: 0.15
        frame_id: base
      </rosparam>
    </node>
    <node name="extract_indices_tote"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager_left)">
      <remap from="~input" to="/left_hand_camera/depth_registered/points" />
      <remap from="~indices" to="attention_clipper_tote/output/point_indices" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        max_queue_size: 100
      </rosparam>
    </node>
    <node name="supervoxel_segmentation"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/SupervoxelSegmentation $(arg manager_left)">
      <remap from="~input" to="/left_hand_camera/extract_indices_tote/output" />
      <rosparam>
        color_importance: 0.2
        spatial_importance: 0.4
        normal_importance: 1.0
        voxel_resolution: 0.01
        seed_resolution: 0.1
      </rosparam>
    </node>
    <node name="cluster_indices_decomposer_target"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager_left)">
      <remap from="~input" to="/left_hand_camera/supervoxel_segmentation/output/cloud" />
      <remap from="~target" to="/left_hand_camera/supervoxel_segmentation/output/indices" />
      <rosparam>
        queue_size: 100
      </rosparam>
    </node>
  </group>
 
  <group ns="right_hand_camera">
    <arg name="manager_right" value="right_hand_camera_nodelet_manager" />
    <node name="attention_clipper_tote"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager_right)">
      <remap from="~input/points" to="/right_hand_camera/depth_registered/points" />
      <rosparam>
        use_multiple_attention: false
        initial_pos: [0.6, -0.12, -0.25]
        initial_rot: [0, -0.03, 0]
        dimension_x: 0.30
        dimension_y: 0.32
        dimension_z: 0.15
        frame_id: base
      </rosparam>
    </node>
    <node name="extract_indices_tote"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager_right)">
      <remap from="~input" to="/right_hand_camera/depth_registered/points" />
      <remap from="~indices" to="attention_clipper_tote/output/point_indices" />
      <rosparam>
        keep_organized: true
        approximate_sync: true
        max_queue_size: 100
      </rosparam>
    </node>
    <node name="supervoxel_segmentation"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/SupervoxelSegmentation $(arg manager_right)">
      <remap from="~input" to="/right_hand_camera/extract_indices_tote/output" />
      <rosparam>
        color_importance: 0.2
        spatial_importance: 0.4
        normal_importance: 1.0
        voxel_resolution: 0.01
        seed_resolution: 0.1
      </rosparam>
    </node>
    <node name="cluster_indices_decomposer_target"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager_right)">
      <remap from="~input" to="/right_hand_camera/supervoxel_segmentation/output/cloud" />
      <remap from="~target" to="/right_hand_camera/supervoxel_segmentation/output/indices" />
      <rosparam>
        queue_size: 100
      </rosparam>
    </node>
  </group>

 </launch>
