<launch>

  <arg name="depth_registration" default="true" />
  <arg name="right_hand_camera_tranforms" default="-0.10 -0.11 0 1.57 0 0" />

  <arg name="NODELET_MANAGER" default="/right_hand_right_camera/right_hand_right_camera_nodelet_manager" />

  <!-- ASTRA MINI S 2017/04/11  7/10 : serial=16112210196 -->
  <!-- ASTRA MINI S 2017/04/11  8/10 : serial=16112210193 -->
  <!-- ASTRA MINI S 2017/04/11  9/10 : serial=16111911511 -->
  <!-- ASTRA MINI S 2017/04/11 10/10 : serial=16112210224 -->

  <!-- right hand left camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="respawn" value="true" />
    <arg name="camera" value="right_hand_left_camera" />
    <arg name="rgb_frame_id" value="right_hand_left_camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="right_hand_left_camera_depth_optical_frame" />
    <arg name="device_id" value="16112210193" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="rgb_camera_info_url" value="file://$(find jsk_2016_01_baxter_apc)/data/astra/stereo_left_astra_mini_8_rgb.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find jsk_2016_01_baxter_apc)/data/astra/depth_16112210193.yaml" />
  </include>
  <node name="right_hand_left_camera_rgb_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.025 0 0 0 0 0 right_hand_left_camera_depth_optical_frame right_hand_left_camera_rgb_optical_frame 20" />
  <node name="right_hand_left_camera_depth_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="$(arg right_hand_camera_tranforms) right_hand right_hand_left_camera_depth_optical_frame 20" />

  <!-- right hand right camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="respawn" value="true" />
    <arg name="camera" value="right_hand_right_camera" />
    <arg name="rgb_frame_id" value="right_hand_right_camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="right_hand_right_camera_depth_optical_frame" />
    <arg name="device_id" value="16112210224" />
    <arg name="publish_tf" value="false" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="rgb_camera_info_url" value="file://$(find jsk_2016_01_baxter_apc)/data/astra/stereo_right_astra_mini_10_rgb.yaml" />
    <arg name="depth_camera_info_url" value="file://$(find jsk_2016_01_baxter_apc)/data/astra/depth_16112210224.yaml" />
  </include>
  <node name="right_hand_right_camera_rgb_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.025 0 0 0 0 0 right_hand_right_camera_depth_optical_frame right_hand_right_camera_rgb_optical_frame 20" />
  <node name="right_hand_right_camera_depth_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.085 0 0 0 0 0 right_hand_left_camera_depth_optical_frame right_hand_right_camera_depth_optical_frame 20" />

  <node name="stereo_image_proc_right_hand"
        pkg="stereo_image_proc" type="stereo_image_proc" >
    <remap from="left/camera_info" to="right_hand_left_camera/rgb/camera_info" />
    <remap from="right/camera_info" to="right_hand_right_camera/rgb/camera_info" />
    <remap from="left/image_raw" to="right_hand_left_camera/rgb/image_raw" />
    <remap from="right/image_raw" to="right_hand_right_camera/rgb/image_raw" />
    <remap from="points2" to="right_hand_stereo/points" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <group ns="/right_hand_right_camera">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator $(arg NODELET_MANAGER)"
          output="screen" respawn="true" >
      <remap from="~input" to="depth_registered/points" />
      <remap from="~info" to="/right_hand_left_camera/rgb/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 10
      </rosparam>
    </node>
  </group>

  <group ns="/right_hand_stereo">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator $(arg NODELET_MANAGER)"
          output="screen" respawn="true" >
      <remap from="~input" to="points" />
      <remap from="~info" to="/right_hand_left_camera/rgb/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 10
      </rosparam>
    </node>
  </group>

  <node name="merge_depth_images"
        pkg="jsk_arc2017_common" type="merge_depth_images.py">
    <rosparam>
      input_topics:
        - /right_hand_left_camera/depth_registered/hw_registered/image_rect_raw
        - /right_hand_right_camera/depth_image_creator/output
        - /right_hand_stereo/depth_image_creator/output
    </rosparam>
  </node>

  <node name="merge_depth_images_view"
        pkg="image_view" type="image_view">
    <remap from="image" to="merge_depth_images/output" />
    <rosparam>
      gui: false
      min_image_value: 0.4
      max_image_value: 3.0
      colormap: 2  # JET
    </rosparam>
  </node>

  <group ns="/right_hand_left_camera">
    <node name="pointcloud_xyzrgb"
          pkg="nodelet" type="nodelet"
          args="load depth_image_proc/point_cloud_xyzrgb $(arg NODELET_MANAGER)">
      <remap from="rgb/camera_info" to="rgb/camera_info" />
      <remap from="rgb/image_rect_color" to="rgb/image_rect_color" />
      <remap from="depth_registered/image_rect" to="/merge_depth_images/output" />
      <remap from="depth_registered/points" to="depth_registered/points_merged" />
      <rosparam>
        queue_size: 10
        approximate_sync: true
      </rosparam>
    </node>
  </group>

  <node name="concatenate_pointcloud_right_hand"
        pkg="nodelet" type="nodelet"
        args="load pcl/PointCloudConcatenateDataSynchronizer $(arg NODELET_MANAGER)"
        output="screen" respawn="true" >
    <rosparam>
      input_topics:
        - /right_hand_left_camera/depth_registered/points
        - /right_hand_right_camera/depth_registered/points
        - /right_hand_stereo/points
      output_frame: /right_hand_left_camera_rgb_optical_frame
      approximate_sync: true
      queue_size: 20
    </rosparam>
  </node>

</launch>
