# Create symlink /dev/r_dxhub
# For now, connection to only one DXHUB is supported
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015" MODE:="0666", SYMLINK+="r_dxhub"
