<launch>

  <!-- Custom baxter model -->
  <include file="$(find jsk_2015_05_baxter_apc)/launch/upload_baxter.launch"/>

  <!-- vacuum gripper -->
  <include file="$(find jsk_2015_05_baxter_apc)/launch/vacuum_gripper.launch" />

  <!-- baxter startup -->
  <include file="$(find jsk_baxter_startup)/baxter.launch">
    <arg name="launch_servo" value="true"/>
    <arg name="launch_joint_trajectory" value="true"/>
    <arg name="launch_gripper_action" value="false"/>
    <arg name="launch_openni" value="false"/>
    <arg name="launch_kinect2" value="false"/>
    <arg name="launch_voice_echo" value="true"/>
    <arg name="launch_moveit" value="false"/>
    <arg name="launch_teleop" value="false"/>
    <arg name="launch_tweet" value="true"/>
    <arg name="launch_mongodb" value="false"/>
    <arg name="launch_wrench" value="false"/>
    <arg name="launch_time_signal" value="false"/>
    <arg name="start_openni" value="false"/>
    <arg name="USER_NAME" value="false"/>
  </include>

  <!-- kinect2 on head -->
  <include file="$(find jsk_2015_05_baxter_apc)/launch/kinect2_head.launch" />
  <arg name="INPUT_CLOUD1" value="/kinect2_head/hd/points" />

  <!--
  kinect2 on torso. Actually, we can't use <machine> tag because of error.
  FIXME: https://github.com/code-iai/iai_kinect2/issues/166
  -->
  <!-- <include file="$(find jsk_2015_05_baxter_apc)/launch/kinect2_torso.launch" /> -->
  <arg name="INPUT_CLOUD2" value="/kinect2_torso/hd/points" />


  <arg name="MANAGER" value="baxter_nodelet_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- filter reachable points -->
  <group ns="filter_reachable1">
    <include file="$(find jsk_2015_05_baxter_apc)/launch/filter_reachable_cloud.launch">
      <arg name="MANAGER" value="/$(arg MANAGER)" />
      <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD1)" />
      <arg name="OUTPUT_CLOUD" value="$(arg INPUT_CLOUD1)_reachable" />
    </include>
  </group>
  <group ns="filter_reachable2">
    <include file="$(find jsk_2015_05_baxter_apc)/launch/filter_reachable_cloud.launch">
      <arg name="MANAGER" value="/$(arg MANAGER)" />
      <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD2)" />
      <arg name="OUTPUT_CLOUD" value="$(arg INPUT_CLOUD2)_reachable" />
    </include>
  </group>

  <!-- filter self points -->
  <group ns="self_filter1">
    <include file="$(find jsk_2015_05_baxter_apc)/launch/self_filter.launch">
      <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD1)_reachable" />
      <arg name="OUTPUT_CLOUD" value="$(arg INPUT_CLOUD1)_filtered" />
    </include>
  </group>
  <group ns="self_filter2">
    <include file="$(find jsk_2015_05_baxter_apc)/launch/self_filter.launch">
      <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD2)_reachable" />
      <arg name="OUTPUT_CLOUD" value="$(arg INPUT_CLOUD2)_filtered" />
    </include>
  </group>

</launch>
