<launch>
  <arg name="input_image" default="/kinect2/rgb/image" />
  <arg name="input_info" default="/kinect2/rgb/camera_info" />
  <arg name="respawn" default="false" />

  <node pkg="jsk_perception" type="rgb_decomposer" name="rgb_decomposer" output="screen">
    <remap from="~input" to="$(arg input_image)" />
  </node>

  <node pkg="jsk_perception" type="single_channel_histogram" name="single_channel_histogram_red" output="screen">
    <remap from="~input" to="/rgb_decomposer/output/red" />
  </node>
  <node pkg="jsk_perception" type="single_channel_histogram" name="single_channel_histogram_blue" output="screen">
    <remap from="~input" to="/rgb_decomposer/output/blue" />
  </node>
  <node pkg="jsk_perception" type="single_channel_histogram" name="single_channel_histogram_green" output="screen">
    <remap from="~input" to="/rgb_decomposer/output/green" />
  </node>

  <node pkg="jsk_2014_picking_challenge" type="color_histogram_matcher.py" name="color_histogram_matcher_red" output="screen" respawn="$(arg respawn)">
    <remap from="~input/histogram/red" to="/single_channel_histogram_red/output" />
  </node>
  <node pkg="jsk_2014_picking_challenge" type="color_histogram_matcher.py" name="color_histogram_matcher_green" output="screen" respawn="$(arg respawn)">
    <remap from="~input/histogram/green" to="/single_channel_histogram_green/output" />
  </node>
  <node pkg="jsk_2014_picking_challenge" type="color_histogram_matcher.py" name="color_histogram_matcher_blue" output="screen" respawn="$(arg respawn)">
    <remap from="~input/histogram/blue" to="/single_channel_histogram_blue/output" />
  </node>
</launch>
