<launch>
  <arg name="pcd_file" default="/home/baxter/icp_pcd_data/1432422020608085.pcd"/>
  <arg name="frame_pcd" default="kinect2_doura_rgb_optical_frame"/>
  <arg name="manager" default="icp_manager"/>

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud"
	args="$(arg pcd_file) 1">
    <param name="frame_id" value="$(arg frame_pcd)"/>
  </node>

  <include file="$(find jsk_2015_05_baxter_apc)/launch/edge_publisher.launch">
    <arg name="manager" value="icp_manager"/>
    <arg name="base_name" value="kinect2_doura"/>
  </include>
  
  <node pkg="nodelet" type="nodelet" name="icp_registration"
	args="load jsk_pcl/ICPRegistration /$(arg manager)">
    <remap from="~input" to="/icp_nodelet/pass_through_z_edge/output" />
    <remap from="~input_reference" to="/cloud_pcd" />
  </node>
</launch>
