<launch>
  <node pkg="jsk_2014_picking_challenge" type="robot-main.l" name="challenge_main_left"
        args="&quot;(progn (apc-init :larm) (send *ri* :angle-vector (send *baxter* :fold-pose)) (main :larm))&quot;"
        respawn="true" output="screen" />
  <node pkg="jsk_2014_picking_challenge" type="robot-main.l" name="challenge_main_right"
        args="&quot;(progn (apc-init :rarm) (send *ri* :angle-vector (send *baxter* :fold-pose)) (main :rarm))&quot;"
        respawn="true" output="screen" />
</launch>
