<launch>
  <arg name="input_cloud" default="/kinect2_head/depth_highres/points"/>
  <arg name="custom" default="true"/>
  <arg name="manager" default="passthrough_manager"/>
  <arg name="manager2" default="process_mask_image"/>
  <arg name="rect" default="false" />

  <node pkg="nodelet" type="nodelet" name="pass_through_z"
        args="load pcl/PassThrough $(arg manager)" respawn="true">
    <remap from="~input" to="/kinect2_head/depth_highres/points" />
    <!-- suppose QVGA -->
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0
      filter_limit_max: 0.8
      keep_organized: true
    </rosparam>
  </node>

  <node pkg="pr2_navigation_self_filter"
        type="self_filter" clear_params="true"
        name="robot_shadow_self_filter3" respawn="true" output="screen">
    <!-- The topic for the input cloud -->
    <remap from="cloud_in" to="/pass_through_z/output" />
    <!-- The topic for the output cloud -->
    <remap from="cloud_out" to="$(arg input_cloud)_filtered" />
    <param name="subsample_value" type="double" value="0.0"/>
    <param name="use_rgb" type="bool" value="true"/>
    <param name="keep_organized" type="bool" value="true"/>
    <!-- The names of the links the sensor can see -->
    <rosparam if="$(arg custom)" command="load" file="$(find jsk_2015_05_baxter_apc)/config/openni_self_filter_custom.yaml" />
    <rosparam unless="$(arg custom)" command="load" file="$(find jsk_baxter_startup)/jsk_baxter_sensors/openni_self_filter.yaml" />
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" />

  <node pkg="nodelet" type="nodelet" name="organized_to_pi"
        args="load jsk_pcl/OrganizedPointCloudToPointIndices $(arg manager)" respawn="true">
    <remap from="~input" to="pass_through_z/output" />
  </node>

  <node pkg="nodelet" type="nodelet" name="pi_to_maskimage"
        args="load jsk_pcl/PointIndicesToMaskImage $(arg manager)">
    <remap from="~input" to="organized_to_pi/output" />
    <remap from="~input/image" to="/kinect2_head/rgb/image" />
    <param name="approximate_sync" value="true" />
  </node>

  <!-- process mask image -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager2)" args="manager" />
  <node pkg="nodelet" type="nodelet" name="dilate_mask_image"
        args="load jsk_perception/DilateMaskImage $(arg manager2)">
    <remap from="~input" to="/pi_to_maskimage/output" />
    <param name="approximate_sync" value="true" />
    <param name="size" type="int" value="5" />
    <param name="iterations" type="int" value="2" />
  </node>
  <node pkg="nodelet" type="nodelet" name="erode_mask_image"
        args="load jsk_perception/ErodeMaskImage $(arg manager2)">
    <remap from="~input" to="/dilate_mask_image/output" />
    <param name="approximate_sync" value="true" />
    <param name="size" type="int" value="5" />
    <param name="iterations" type="int" value="4" />
  </node>
  <group if="$(arg rect)">
    <node pkg="nodelet" type="nodelet" name="mask_image_to_roi"
          args="load jsk_perception/MaskImageToROI $(arg manager2)">
      <remap from="~input" to="/erode_mask_image/output" />
      <remap from="~input/camera_info" to="/kinect2_head/depth_highres/camera_info" />
      <param name="approximate_sync" value="true" />
    </node>
    <node pkg="nodelet" type="nodelet" name="roi_to_mask_image"
          args="load jsk_perception/ROIToMaskImage $(arg manager2)">
      <remap from="~input" to="/mask_image_to_roi/output" />
      <param name="approximate_sync" value="true" />
    </node>
  </group>
  <node pkg="nodelet" type="nodelet" name="apply_mask"
        args="load jsk_perception/ApplyMaskImage $(arg manager2)">
    <remap from="~input" to="/kinect2_head/rgb/image" />
    <remap from="~input/mask" to="/erode_mask_image/output" unless="$(arg rect)" />
    <remap from="~input/mask" to="/roi_to_mask_image/output" if="$(arg rect)" />
    <param name="approximate_sync" value="true" />
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="laser_registration_depth_image_creator" -->
  <!--       args="load jsk_pcl/DepthImageCreator $(arg manager)"> -->
  <!--   <remap from="~info" to="/kinect2_head/rgb_lowres/camera_info" /> -->
  <!--   <remap from="~input" to="pass_through_z/output" /> -->
  <!--   <remap from="~output" to="pass_through_z/depth/image_rect" /> -->
  <!--   <param name="use_approximate" value="true" /> -->
  <!-- </node> -->
</launch>
