<launch>

  <arg name="INPUT_DEPTH" />
  <arg name="INPUT_CLOUD" />

  <arg name="MANAGER" value="segmentation_in_bin_gtol_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />


  <!-- bin clipper -->
  <node name="bin_gtol_clipper"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/AttentionClipper $(arg MANAGER)">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      use_multiple_attention: true
      initial_pos_list: [[-0.22, 0.29, -0.41], [-0.22, -0.01, -0.41], [-0.22, -0.32, -0.41], [-0.22, 0.29, -0.15], [-0.22, -0.01, -0.15], [-0.22, -0.32, -0.15]]
      initial_rot_list: [[0, 0, 0], [0, 0, 0], [0, 0, -0.07], [0, 0, 0], [0, 0, 0], [0, 0, -0.07]]
      dimensions: [[0.37, 0.23, 0.20],[0.37, 0.27, 0.20],[0.37, 0.23, 0.20], [0.37, 0.23, 0.18],[0.37, 0.27, 0.18],[0.37, 0.23, 0.18]]
      frame_id_list: [kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base, kiva_pod_base]
      prefixes: [bin_j, bin_k, bin_l, bin_g, bin_h, bin_i]
    </rosparam>
  </node>


  <!-- object segmentation -->
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="g" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_g/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="h" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_h/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="i" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_i/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="j" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_j/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="k" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_k/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>
  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/segmentation_each_object_in_bin.launch">
    <arg name="BIN_NAME" value="l" />
    <arg name="INPUT_DEPTH" value="$(arg INPUT_DEPTH)" />
    <arg name="INPUT_CLOUD" value="$(arg INPUT_CLOUD)" />
    <arg name="INPUT_INDICES" value="/bin_gtol_clipper/bin_l/point_indices" />
    <arg name="MANAGER" value="$(arg MANAGER)" />
  </include>


</launch>
