<launch>

  <arg name="MANAGER" />
  <arg name="INPUT_CLOUD" />
  <arg name="OUTPUT_CLOUD" />

  <node name="passthrough_x"
        pkg="nodelet" type="nodelet"
        args="load pcl/PassThrough $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~output" to="$(arg OUTPUT_CLOUD)" />
    <rosparam>
      input_frame: base
      filter_field_name: x
      filter_limit_min: 0
      filter_limit_max: 1.2
      keep_organized: true
    </rosparam>
  </node>

</launch>
