<launch>

  <arg name="use_machine" default="true" />

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="base_name" value="kinect2_torso"/>
    <arg name="max_depth" value="1.05" />
    <arg name="use_machine" value="$(arg use_machine)"/>
    <arg name="depth_method" value="cpu" />
    <arg name="reg_method" value="cpu" />
  </include>

  <node name="doura_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.17 0.12 0.43 -0.05 -1.65 3.14 base kinect2_torso_rgb_optical_frame 100" />

</launch>
