<launch>
  <arg name="NODELET_MANAGER" />
  <arg name="use_machine" default="true" />

  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kinect2_bridge.launch">
    <arg name="base_name" value="$(arg NODELET_MANAGER)" />
    <arg name="calib_path" value="$(find jsk_2015_05_baxter_apc)/data/kinect2_calib_data/" />
    <arg name="max_depth" value="1.05" />
    <arg name="use_machine" value="$(arg use_machine)"/>
    <!-- <arg name="depth_method" value="cpu" /> -->
    <!-- <arg name="reg_method" value="cpu" /> -->
  </include>

  <node name="kinect2_torso_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.21 0.075 0.45 -0.01 -1.57 3.14 base kinect2_torso_rgb_optical_frame 100" />

</launch>
