<launch>
  <arg name="NODELET_MANAGER" />

  <include file="$(find jsk_2015_05_baxter_apc)/launch/include/kinect2_bridge.launch">
    <arg name="base_name" value="$(arg NODELET_MANAGER)" />
    <arg name="calib_path" value="$(find jsk_2015_05_baxter_apc)/data/kinect2_calib_data/" />
    <arg name="depth_method" value="cpu" />
    <arg name="reg_method" value="cpu" />
    <arg name="use_machine" value="true" />
    <arg name="max_depth" value="1.2" />
  </include>

  <node name="kinect2_head_static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0.01 -0.1 0.96 -1.64 0 -1.58 base kinect2_head_rgb_optical_frame 100" />

</launch>

