<launch>

  <!-- interactive_marker to adjust kiva pod pose it means for /kiva_pod_base frame -->
  <param name="kiva_pod_description" command="$(find xacro)/xacro.py $(find jsk_apc2015_common)/models/kiva_pod/urdf/pod_lowres_convex.xacro" />

  <!--
  <node name="kiva_pod_joint_state_publisher"
        pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="robot_description" to="kiva_pod_description" />
    <remap from="joint_states" to="kiva_pod/joint_states" />
  </node>
  -->

  <node name="kiva_pod_state_publisher"
        pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="kiva_pod_description" />
  </node>

</launch>
