<launch>
  <arg name="INPUT_DEPTH" />
  <arg name="INPUT_CLOUD" />
  <arg name="INPUT_INDICES" />
  <arg name="BIN_NAME" />
  <arg name="NODELET_MANAGER" />
  <arg name="NODELET_ID" />


  <group ns="$(arg NODELET_MANAGER)">
    <rosparam subst_value="true">
       nodelets_$(arg NODELET_ID):
        - name: bin_$(arg BIN_NAME)_extract_pi
          type: jsk_pcl/ExtractIndices
          remappings:
            - from: ~input
              to: $(arg INPUT_CLOUD)
            - from: ~indices
              to: $(arg INPUT_INDICES)
        - name: bin_$(arg BIN_NAME)_euclid_clustering
          type: jsk_pcl/EuclideanClustering
          remappings:
            - from: ~input
              to: /bin_$(arg BIN_NAME)_extract_pi/output
        - name: bin_$(arg BIN_NAME)_cpi_decomposer
          type: jsk_pcl/ClusterPointIndicesDecomposer
          remappings:
            - from: ~input
              to: /bin_$(arg BIN_NAME)_extract_pi/output
            - from: ~target
              to: /bin_$(arg BIN_NAME)_euclid_clustering/output
    </rosparam>
  </group>

  <group ns="bin_$(arg BIN_NAME)_extract_pi">
    <rosparam>
      max_queue_size: 500
      keep_organized: true
    </rosparam>
  </group>

  <group ns="bin_$(arg BIN_NAME)_euclid_clustering">
    <rosparam>
      tolerance: 0.02
      min_size: 500
      max_size: 100000
    </rosparam>
  </group>

  <group ns="bin_$(arg BIN_NAME)_cpi_decomposer">
    <rosparam>
      queue_size: 1000
    </rosparam>
  </group>


  <!-- grasp planning -->
  <!--
  <node name="bin_$(arg BIN_NAME)_solidity_rag_merge"
        pkg="jsk_perception" type="solidity_rag_merge.py">
    <remap from="~input" to="$(arg INPUT_DEPTH)" />
    <remap from="~input/mask" to="bin_$(arg BIN_NAME)_cpi_decomposer/mask" />
    <rosparam>
      debug: true
    </rosparam>
  </node>
  <node name="bin_$(arg BIN_NAME)_label_to_cpi"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/LabelToClusterPointIndices $(arg MANAGER)">
    <remap from="~input" to="bin_$(arg BIN_NAME)_solidity_rag_merge/output" />
  </node>
  <node name="bin_$(arg BIN_NAME)_solidity_rag_merge_cpi_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~target" to="bin_$(arg BIN_NAME)_label_to_cpi/output" />
    <rosparam>
      min_size: 100
      queue_size: 500
      approximate_sync: true
    </rosparam>
  </node>
  -->


</launch>
