<launch>

  <node name="rosserial_node_0"
        pkg="rosserial_python" type="serial_node.py"
        respawn="true">
    <param name="port" type="string" value="/dev/ttyUSB0" />
    <param name="baud" value="115200" />
  </node>

  <node name="rosserial_node_1"
        pkg="rosserial_python" type="serial_node.py" 
        respawn="true">
    <param name="port" type="string" value="/dev/ttyUSB1" />
    <param name="baud" value="115200" />
  </node>

</launch>
